# Unification of csv files

I follow the order in the word file

In [1]:
import numpy as np
import pandas as pd

In [2]:
data1 = pd.read_csv("mean_age_firstchild.csv")
data1.head()

,DATAFLOW,LAST UPDATE,freq,indic_de,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,AL,2013,25.5,NaN
1,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,AL,2014,25.6,NaN
2,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,AL,2016,26.0,NaN
3,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,AL,2017,26.1,NaN
4,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,AL,2018,26.4,NaN

In [72]:
df = data1[(data1.TIME_PERIOD == 2018) & (data1.indic_de == 'AGEMOTH1')]
df.head()

,DATAFLOW,LAST UPDATE,freq,indic_de,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
4,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,AL,2018,26.4,NaN
10,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,AM,2018,24.8,NaN
19,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,AT,2018,29.5,NaN
28,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,AZ,2018,23.9,NaN
37,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,BE,2018,29.0,NaN

In [73]:
country = ['Albania', 'Armenia', 'Austria', 'Azerbaijan', 'Belgium', 'Bulgaria', 'Belarus', 
          'Switzerland', 'Cyprus', 'Czech Republic', 'Germany', 'Denmark', 'Estonia', 'Greece', 'Spain','Finland',
          'France', 'Georgia', 'Croatia', 'Hungary', 'Ireland', 'Iceland', 'Italy', 'Lithuania', 'Luxembourg', 'Latvia',
          'Macedonia', 'Malta', 'Netherlands', 'Norway', 'Poland', 'Portugal', 'Romania', 'Serbia', 'Sweden', 
          'Slovenia', 'Slovakia', 'Turkey', 'Ukraine', 'United Kingdom', 'Kosovo']

In [74]:
df.drop([105,122,130,168,174,182], axis=0, inplace=True)

C:\Users\Windows\AppData\Local\Temp\ipykernel_18652\3819836807.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop([105,122,130,168,174,182], axis=0, inplace=True)

In [75]:
df['country'] = country
df

C:\Users\Windows\AppData\Local\Temp\ipykernel_18652\2708894092.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['country'] = country

,DATAFLOW,LAST UPDATE,freq,indic_de,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,country
4,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,AL,2018,26.4,NaN,Albania
10,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,AM,2018,24.8,NaN,Armenia
19,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,AT,2018,29.5,NaN,Austria
28,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,AZ,2018,23.9,NaN,Azerbaijan
37,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,BE,2018,29.0,NaN,Belgium
47,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,BG,2018,26.2,NaN,Bulgaria
57,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,BY,2018,25.8,NaN,Belarus
65,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,CH,2018,30.9,NaN,Switzerland
75,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,CY,2018,29.8,NaN,Cyprus
85,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,CZ,2018,28.4,NaN,Czech Republic
95,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,DE,2018,29.7,NaN,Germany
114,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,DK,2018,29.5,NaN,Denmark
140,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,EE,2018,27.7,NaN,Estonia
150,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,EL,2018,30.4,NaN,Greece
160,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,ES,2018,31.0,NaN,Spain
190,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,FI,2018,29.2,NaN,Finland
198,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,FR,2018,28.7,p,France
205,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,GE,2018,25.5,NaN,Georgia
215,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,HR,2018,28.8,NaN,Croatia
225,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,HU,2018,28.2,NaN,Hungary
235,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,IE,2018,30.5,e,Ireland
245,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,IS,2018,28.3,NaN,Iceland
253,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,IT,2018,31.2,NaN,Italy
263,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,LT,2018,27.8,NaN,Lithuania
273,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,LU,2018,30.9,NaN,Luxembourg
283,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,LV,2018,27.2,NaN,Latvia
293,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,MK,2018,26.9,NaN,Macedonia
303,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,MT,2018,29.2,NaN,Malta
313,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,NL,2018,30.0,NaN,Netherlands
323,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,NO,2018,29.5,NaN,Norway
333,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,PL,2018,27.4,be,Poland
343,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,PT,2018,29.8,NaN,Portugal
353,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,RO,2018,26.7,NaN,Romania
363,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,RS,2018,28.1,NaN,Serbia
373,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,SE,2018,29.3,NaN,Sweden
383,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,SI,2018,28.8,NaN,Slovenia
393,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,SK,2018,27.1,NaN,Slovakia
397,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,TR,2018,26.3,NaN,Turkey
406,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,UA,2018,25.4,NaN,Ukraine
413,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,UK,2018,29.0,NaN,United Kingdom
416,ESTAT:DEMO_FIND$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,AGEMOTH1,XK,2018,27.1,NaN,Kosovo

In [76]:
df.drop(['DATAFLOW','LAST UPDATE','freq','indic_de','TIME_PERIOD','OBS_FLAG'], axis=1, inplace=True)

C:\Users\Windows\AppData\Local\Temp\ipykernel_18652\3742305002.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(['DATAFLOW','LAST UPDATE','freq','indic_de','TIME_PERIOD','OBS_FLAG'], axis=1, inplace=True)

In [77]:
df = df.reset_index()
del df['index']

In [78]:
df.rename(columns={'OBS_VALUE':'age_1_child'}, inplace=True)
df

   geo  age_1_child         country
0   AL         26.4         Albania
1   AM         24.8         Armenia
2   AT         29.5         Austria
3   AZ         23.9      Azerbaijan
4   BE         29.0         Belgium
5   BG         26.2        Bulgaria
6   BY         25.8         Belarus
7   CH         30.9     Switzerland
8   CY         29.8          Cyprus
9   CZ         28.4  Czech Republic
10  DE         29.7         Germany
11  DK         29.5         Denmark
12  EE         27.7         Estonia
13  EL         30.4          Greece
14  ES         31.0           Spain
15  FI         29.2         Finland
16  FR         28.7          France
17  GE         25.5         Georgia
18  HR         28.8         Croatia
19  HU         28.2         Hungary
20  IE         30.5         Ireland
21  IS         28.3         Iceland
22  IT         31.2           Italy
23  LT         27.8       Lithuania
24  LU         30.9      Luxembourg
25  LV         27.2          Latvia
26  MK         26.9       Macedonia
27  MT         29.2           Malta
28  NL         30.0     Netherlands
29  NO         29.5          Norway
30  PL         27.4          Poland
31  PT         29.8        Portugal
32  RO         26.7         Romania
33  RS         28.1          Serbia
34  SE         29.3          Sweden
35  SI         28.8        Slovenia
36  SK         27.1        Slovakia
37  TR         26.3          Turkey
38  UA         25.4         Ukraine
39  UK         29.0  United Kingdom
40  XK         27.1          Kosovo

In [79]:
columns_titles = ['geo', 'country','age_1_child']
df=df.reindex(columns=columns_titles)
df

   geo         country  age_1_child
0   AL         Albania         26.4
1   AM         Armenia         24.8
2   AT         Austria         29.5
3   AZ      Azerbaijan         23.9
4   BE         Belgium         29.0
5   BG        Bulgaria         26.2
6   BY         Belarus         25.8
7   CH     Switzerland         30.9
8   CY          Cyprus         29.8
9   CZ  Czech Republic         28.4
10  DE         Germany         29.7
11  DK         Denmark         29.5
12  EE         Estonia         27.7
13  EL          Greece         30.4
14  ES           Spain         31.0
15  FI         Finland         29.2
16  FR          France         28.7
17  GE         Georgia         25.5
18  HR         Croatia         28.8
19  HU         Hungary         28.2
20  IE         Ireland         30.5
21  IS         Iceland         28.3
22  IT           Italy         31.2
23  LT       Lithuania         27.8
24  LU      Luxembourg         30.9
25  LV          Latvia         27.2
26  MK       Macedonia         26.9
27  MT           Malta         29.2
28  NL     Netherlands         30.0
29  NO          Norway         29.5
30  PL          Poland         27.4
31  PT        Portugal         29.8
32  RO         Romania         26.7
33  RS          Serbia         28.1
34  SE          Sweden         29.3
35  SI        Slovenia         28.8
36  SK        Slovakia         27.1
37  TR          Turkey         26.3
38  UA         Ukraine         25.4
39  UK  United Kingdom         29.0
40  XK          Kosovo         27.1

Here I save the dataset obtained as a csv file. In this way I create a sort of checkpoint from which I can start to add the other predictors that I will use in my analysis.

In [82]:
compression_opts = dict(method='zip',
                        archive_name='df1.csv')  
df.to_csv('df1.zip', index=False, compression=compression_opts)

## Adding live births at 18y and 30y
I add to the dataset the number of live births when the age of the mother is 18 years old (quite young) and when it is 30 years old (with a greater possibility of having a better financial situation).

In [3]:
#At first I create a deep copy of the dataset created before
df1 = pd.read_csv("df1.csv")
df2 = df1.copy()
df2.head()

  geo     country  age_1_child
0  AL     Albania         26.4
1  AM     Armenia         24.8
2  AT     Austria         29.5
3  AZ  Azerbaijan         23.9
4  BE     Belgium         29.0

In [4]:
#I import the dataset with the interested variables to add
data2 = pd.read_csv("live_births_ma_bo.csv")
data2.head()

,DATAFLOW,LAST UPDATE,freq,unit,age,ord_brth,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,TOTAL,1,AL,1960,13849.0,NaN
1,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,TOTAL,1,AL,1965,12395.0,NaN
2,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,TOTAL,1,AL,1970,15151.0,NaN
3,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,TOTAL,1,AL,1980,20553.0,NaN
4,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,TOTAL,1,AL,1981,21654.0,NaN

In [5]:
#data2_18 contains data related to the live births of women of 18 years old
data2_18 = data2[(data2.age == 'Y18') & (data2.ord_brth == 'TOTAL') & (data2.TIME_PERIOD == 2018)]
data2_18

,DATAFLOW,LAST UPDATE,freq,unit,age,ord_brth,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
50538,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,AL,2018,422.0,NaN
50549,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,AM,2018,410.0,NaN
50585,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,AT,2018,303.0,NaN
50599,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,AZ,2018,4366.0,NaN
50638,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,BE,2018,445.0,NaN
50664,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,BG,2018,1566.0,NaN
50677,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,BY,2018,705.0,NaN
50736,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,CH,2018,121.0,NaN
50759,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,CY,2018,44.0,NaN
50785,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,CZ,2018,696.0,NaN
50797,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,DE,2018,3994.0,NaN
50809,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,DE_TOT,2018,3994.0,NaN
50854,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,DK,2018,120.0,NaN
50862,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,EA18,2018,15714.0,NaN
50870,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,EA19,2018,15951.0,NaN
50902,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,EE,2018,75.0,NaN
50932,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,EL,2018,565.0,NaN
50968,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,ES,2018,2039.0,NaN
50976,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,EU27_2007,2018,33898.0,be
50982,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,EU27_2020,2018,27997.0,be
50990,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,EU28,2018,34143.0,be
51019,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,FI,2018,164.0,NaN
51036,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,FR,2018,4186.0,NaN
51056,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,GE,2018,911.0,NaN
51078,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,HR,2018,245.0,NaN
51105,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,HU,2018,1512.0,NaN
51128,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,IE,2018,249.0,NaN
51157,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,IS,2018,16.0,NaN
51165,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,IT,2018,1516.0,NaN
51193,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,LT,2018,237.0,NaN
51254,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,LU,2018,21.0,NaN
51275,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,LV,2018,136.0,NaN
51311,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,MK,2018,224.0,NaN
51325,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,MT,2018,50.0,NaN
51354,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,NL,2018,358.0,NaN
51384,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,NO,2018,106.0,NaN
51410,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,PL,2018,2691.0,be
51441,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,PT,2018,539.0,NaN
51467,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,RO,2018,4913.0,NaN
51488,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,RS,2018,671.0,NaN
51514,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,SE,2018,303.0,NaN
51540,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,SI,2018,46.0,NaN
51562,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,SK,2018,984.0,NaN
51567,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,TR,2018,18696.0,NaN
51580,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,UA,2018,4608.0,NaN
51627,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,UK,2018,6146.0,NaN
51636,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y18,TOTAL,XK,2018,213.0,NaN

In [6]:
#I discard the unwanted columns
data2_18.drop(['DATAFLOW','LAST UPDATE','freq','unit','age','ord_brth','TIME_PERIOD','OBS_FLAG'], axis=1, inplace=True)
data2_18.rename(columns={'OBS_VALUE':'live_births_18y'}, inplace=True)
data2_18

C:\Users\Windows\AppData\Local\Temp\ipykernel_15272\4161726205.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2_18.drop(['DATAFLOW','LAST UPDATE','freq','unit','age','ord_brth','TIME_PERIOD','OBS_FLAG'], axis=1, inplace=True)
C:\Users\Windows\AppData\Local\Temp\ipykernel_15272\4161726205.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2_18.rename(columns={'OBS_VALUE':'live_births_18y'}, inplace=True)

             geo  live_births_18y
50538         AL            422.0
50549         AM            410.0
50585         AT            303.0
50599         AZ           4366.0
50638         BE            445.0
50664         BG           1566.0
50677         BY            705.0
50736         CH            121.0
50759         CY             44.0
50785         CZ            696.0
50797         DE           3994.0
50809     DE_TOT           3994.0
50854         DK            120.0
50862       EA18          15714.0
50870       EA19          15951.0
50902         EE             75.0
50932         EL            565.0
50968         ES           2039.0
50976  EU27_2007          33898.0
50982  EU27_2020          27997.0
50990       EU28          34143.0
51019         FI            164.0
51036         FR           4186.0
51056         GE            911.0
51078         HR            245.0
51105         HU           1512.0
51128         IE            249.0
51157         IS             16.0
51165         IT           1516.0
51193         LT            237.0
51254         LU             21.0
51275         LV            136.0
51311         MK            224.0
51325         MT             50.0
51354         NL            358.0
51384         NO            106.0
51410         PL           2691.0
51441         PT            539.0
51467         RO           4913.0
51488         RS            671.0
51514         SE            303.0
51540         SI             46.0
51562         SK            984.0
51567         TR          18696.0
51580         UA           4608.0
51627         UK           6146.0
51636         XK            213.0

In [7]:
#I convert the column of live births to integer
data2_18 = data2_18.astype({"live_births_18y": int})
data2_18

             geo  live_births_18y
50538         AL              422
50549         AM              410
50585         AT              303
50599         AZ             4366
50638         BE              445
50664         BG             1566
50677         BY              705
50736         CH              121
50759         CY               44
50785         CZ              696
50797         DE             3994
50809     DE_TOT             3994
50854         DK              120
50862       EA18            15714
50870       EA19            15951
50902         EE               75
50932         EL              565
50968         ES             2039
50976  EU27_2007            33898
50982  EU27_2020            27997
50990       EU28            34143
51019         FI              164
51036         FR             4186
51056         GE              911
51078         HR              245
51105         HU             1512
51128         IE              249
51157         IS               16
51165         IT             1516
51193         LT              237
51254         LU               21
51275         LV              136
51311         MK              224
51325         MT               50
51354         NL              358
51384         NO              106
51410         PL             2691
51441         PT              539
51467         RO             4913
51488         RS              671
51514         SE              303
51540         SI               46
51562         SK              984
51567         TR            18696
51580         UA             4608
51627         UK             6146
51636         XK              213

In [10]:
#I merge (left merge) the original dataframe df2 with the data2_18 above
result = pd.merge(df2, #left df
                  data2_18[['geo', 'live_births_18y']], #right df with just the columns I want
                  on='geo', #column they have in common
                  how='left'
                 )
result

   geo         country  age_1_child  live_births_18y
0   AL         Albania         26.4              422
1   AM         Armenia         24.8              410
2   AT         Austria         29.5              303
3   AZ      Azerbaijan         23.9             4366
4   BE         Belgium         29.0              445
5   BG        Bulgaria         26.2             1566
6   BY         Belarus         25.8              705
7   CH     Switzerland         30.9              121
8   CY          Cyprus         29.8               44
9   CZ  Czech Republic         28.4              696
10  DE         Germany         29.7             3994
11  DK         Denmark         29.5              120
12  EE         Estonia         27.7               75
13  EL          Greece         30.4              565
14  ES           Spain         31.0             2039
15  FI         Finland         29.2              164
16  FR          France         28.7             4186
17  GE         Georgia         25.5              911
18  HR         Croatia         28.8              245
19  HU         Hungary         28.2             1512
20  IE         Ireland         30.5              249
21  IS         Iceland         28.3               16
22  IT           Italy         31.2             1516
23  LT       Lithuania         27.8              237
24  LU      Luxembourg         30.9               21
25  LV          Latvia         27.2              136
26  MK       Macedonia         26.9              224
27  MT           Malta         29.2               50
28  NL     Netherlands         30.0              358
29  NO          Norway         29.5              106
30  PL          Poland         27.4             2691
31  PT        Portugal         29.8              539
32  RO         Romania         26.7             4913
33  RS          Serbia         28.1              671
34  SE          Sweden         29.3              303
35  SI        Slovenia         28.8               46
36  SK        Slovakia         27.1              984
37  TR          Turkey         26.3            18696
38  UA         Ukraine         25.4             4608
39  UK  United Kingdom         29.0             6146
40  XK          Kosovo         27.1              213

In [11]:
#Now I add the number of live births of women having 30 years at the moment of the birth
data2_30 = data2[(data2.age == 'Y30') & (data2.ord_brth == 'TOTAL') & (data2.TIME_PERIOD == 2018)]
data2_30.rename(columns={'OBS_VALUE':'live_births_30y'}, inplace=True)
data2_30 = data2_30.astype({"live_births_30y": int})
data2_30

C:\Users\Windows\AppData\Local\Temp\ipykernel_15272\1629822342.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2_30.rename(columns={'OBS_VALUE':'live_births_30y'}, inplace=True)

,DATAFLOW,LAST UPDATE,freq,unit,age,ord_brth,geo,TIME_PERIOD,live_births_30y,OBS_FLAG
137618,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,AL,2018,1759,NaN
137629,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,AM,2018,1995,NaN
137665,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,AT,2018,6198,NaN
137679,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,AZ,2018,5871,NaN
137718,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,BE,2018,10198,NaN
137744,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,BG,2018,3998,NaN
137757,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,BY,2018,6533,NaN
137816,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,CH,2018,6652,NaN
137839,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,CY,2018,743,NaN
137865,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,CZ,2018,8879,NaN
137877,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,DE,2018,60246,NaN
137889,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,DE_TOT,2018,60246,NaN
137934,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,DK,2018,4958,NaN
137942,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,EA18,2018,224568,NaN
137950,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,EA19,2018,226825,NaN
137982,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,EE,2018,1131,NaN
138012,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,EL,2018,5494,NaN
138048,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,ES,2018,20565,NaN
138056,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,EU27_2007,2018,352088,be
138062,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,EU27_2020,2018,305542,be
138070,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,EU28,2018,354831,be
138099,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,FI,2018,3468,NaN
138116,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,FR,2018,56924,NaN
138136,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,GE,2018,2721,NaN
138158,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,HR,2018,2743,NaN
138185,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,HU,2018,6025,NaN
138208,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,IE,2018,3271,NaN
138237,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,IS,2018,311,NaN
138245,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,IT,2018,28638,NaN
138273,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,LT,2018,2257,NaN
138334,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,LU,2018,464,NaN
138355,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,LV,2018,1411,NaN
138391,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,MK,2018,1458,NaN
138405,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,MT,2018,354,NaN
138434,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,NL,2018,14200,NaN
138464,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,NO,2018,4577,NaN
138490,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,PL,2018,29092,be
138521,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,PT,2018,5458,NaN
138547,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,RO,2018,13976,NaN
138568,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,RS,2018,4439,NaN
138594,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,SE,2018,9046,NaN
138620,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,SI,2018,1705,NaN
138642,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,SK,2018,4100,NaN
138647,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,TR,2018,72891,NaN
138660,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,UA,2018,20892,NaN
138707,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,UK,2018,49289,NaN
138716,ESTAT:DEMO_FORDAGEC(1.0),22/06/22 23:00:00,A,NR,Y30,TOTAL,XK,2018,1459,NaN

In [12]:
#I merge (left merge) the previous dataframe 'result' with the data2_30 above and I save it as a csv file for checkpoint
df2 = pd.merge(result, #left df
               data2_30[['geo', 'live_births_30y']], #right df with just the columns I want
               on='geo', #column they have in common
               how='left'
              )
df2

   geo         country  age_1_child  live_births_18y  live_births_30y
0   AL         Albania         26.4              422             1759
1   AM         Armenia         24.8              410             1995
2   AT         Austria         29.5              303             6198
3   AZ      Azerbaijan         23.9             4366             5871
4   BE         Belgium         29.0              445            10198
5   BG        Bulgaria         26.2             1566             3998
6   BY         Belarus         25.8              705             6533
7   CH     Switzerland         30.9              121             6652
8   CY          Cyprus         29.8               44              743
9   CZ  Czech Republic         28.4              696             8879
10  DE         Germany         29.7             3994            60246
11  DK         Denmark         29.5              120             4958
12  EE         Estonia         27.7               75             1131
13  EL          Greece         30.4              565             5494
14  ES           Spain         31.0             2039            20565
15  FI         Finland         29.2              164             3468
16  FR          France         28.7             4186            56924
17  GE         Georgia         25.5              911             2721
18  HR         Croatia         28.8              245             2743
19  HU         Hungary         28.2             1512             6025
20  IE         Ireland         30.5              249             3271
21  IS         Iceland         28.3               16              311
22  IT           Italy         31.2             1516            28638
23  LT       Lithuania         27.8              237             2257
24  LU      Luxembourg         30.9               21              464
25  LV          Latvia         27.2              136             1411
26  MK       Macedonia         26.9              224             1458
27  MT           Malta         29.2               50              354
28  NL     Netherlands         30.0              358            14200
29  NO          Norway         29.5              106             4577
30  PL          Poland         27.4             2691            29092
31  PT        Portugal         29.8              539             5458
32  RO         Romania         26.7             4913            13976
33  RS          Serbia         28.1              671             4439
34  SE          Sweden         29.3              303             9046
35  SI        Slovenia         28.8               46             1705
36  SK        Slovakia         27.1              984             4100
37  TR          Turkey         26.3            18696            72891
38  UA         Ukraine         25.4             4608            20892
39  UK  United Kingdom         29.0             6146            49289
40  XK          Kosovo         27.1              213             1459

In [14]:
compression_opts = dict(method='zip',
                        archive_name='df2.csv')  
df2.to_csv('df2.zip', index=False, compression=compression_opts)

## Adding live births in_marriage and out_marriage
I put inside the dataset that I will use for my analysis the number of live births in the European countries according to the marital status of the mother

In [15]:
#Deep copy of the dataset created before
df2 = pd.read_csv("df2.csv")
df3 = df2.copy()
df3.head()

  geo     country  age_1_child  live_births_18y  live_births_30y
0  AL     Albania         26.4              422             1759
1  AM     Armenia         24.8              410             1995
2  AT     Austria         29.5              303             6198
3  AZ  Azerbaijan         23.9             4366             5871
4  BE     Belgium         29.0              445            10198

In [25]:
#I import the dataset with the interested variables to add
data3 = pd.read_csv("live_births_inmarriage_outmarriage.csv")
data3.head()

,DATAFLOW,LAST UPDATE,freq,unit,age,indic_de,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:DEMO_FAGEC(1.0),22/06/22 23:00:00,A,NR,TOTAL,LBIRTH,AD,1985,557.0,NaN
1,ESTAT:DEMO_FAGEC(1.0),22/06/22 23:00:00,A,NR,TOTAL,LBIRTH,AD,1986,547.0,NaN
2,ESTAT:DEMO_FAGEC(1.0),22/06/22 23:00:00,A,NR,TOTAL,LBIRTH,AD,1987,527.0,NaN
3,ESTAT:DEMO_FAGEC(1.0),22/06/22 23:00:00,A,NR,TOTAL,LBIRTH,AD,1988,572.0,NaN
4,ESTAT:DEMO_FAGEC(1.0),22/06/22 23:00:00,A,NR,TOTAL,LBIRTH,AD,1989,634.0,NaN

In [28]:
#data3_in contains data related to the live births of married women
data3_in = data3[(data3.age == 'TOTAL') & (data3.indic_de == 'MAR') & (data3.TIME_PERIOD == 2018)]

In [29]:
data3_in.rename(columns={'OBS_VALUE':'live_births_inmarriage'}, inplace=True)
result = pd.merge(df3, #left df
                  data3_in[['geo', 'live_births_inmarriage']], #right df with just the columns I want
                  on='geo', #column they have in common
                  how='left'
                 )
result

C:\Users\Windows\AppData\Local\Temp\ipykernel_15272\2089968523.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data3_in.rename(columns={'OBS_VALUE':'live_births_inmarriage'}, inplace=True)

,geo,country,age_1_child,live_births_18y,live_births_30y,live_births_inmarriage
0,AL,Albania,26.4,422,1759,NaN
1,AM,Armenia,24.8,410,1995,24692.0
2,AT,Austria,29.5,303,6198,50241.0
3,AZ,Azerbaijan,23.9,4366,5871,118266.0
4,BE,Belgium,29.0,445,10198,NaN
5,BG,Bulgaria,26.2,1566,3998,25830.0
6,BY,Belarus,25.8,705,6533,81836.0
7,CH,Switzerland,30.9,121,6652,65275.0
8,CY,Cyprus,29.8,44,743,NaN
9,CZ,Czech Republic,28.4,696,8879,58698.0
10,DE,Germany,29.7,3994,60246,520627.0
11,DK,Denmark,29.5,120,4958,28140.0
12,EE,Estonia,27.7,75,1131,6562.0
13,EL,Greece,30.4,565,5494,76818.0
14,ES,Spain,31.0,2039,20565,195518.0
15,FI,Finland,29.2,164,3468,26354.0
16,FR,France,28.7,4186,56924,300861.0
17,GE,Georgia,25.5,911,2721,33760.0
18,HR,Croatia,28.8,245,2743,29298.0
19,HU,Hungary,28.2,1512,6025,52430.0
20,IE,Ireland,30.5,249,3271,37920.0
21,IS,Iceland,28.3,16,311,1249.0
22,IT,Italy,31.2,1516,28638,290414.0
23,LT,Lithuania,27.8,237,2257,20715.0
24,LU,Luxembourg,30.9,21,464,3770.0
25,LV,Latvia,27.2,136,1411,11693.0
26,MK,Macedonia,26.9,224,1458,18746.0
27,MT,Malta,29.2,50,354,NaN
28,NL,Netherlands,30.0,358,14200,81107.0
29,NO,Norway,29.5,106,4577,24017.0
30,PL,Poland,27.4,2691,29092,285594.0
31,PT,Portugal,29.8,539,5458,38395.0
32,RO,Romania,26.7,4913,13976,140054.0
33,RS,Serbia,28.1,671,4439,46845.0
34,SE,Sweden,29.3,303,9046,52656.0
35,SI,Slovenia,28.8,46,1705,8293.0
36,SK,Slovakia,27.1,984,4100,34587.0
37,TR,Turkey,26.3,18696,72891,1200544.0
38,UA,Ukraine,25.4,4608,20892,267065.0
39,UK,United Kingdom,29.0,6146,49289,NaN
40,XK,Kosovo,27.1,213,1459,13669.0

In [30]:
#data3_out contains data related to the live births of non-married women
data3_out = data3[(data3.age == 'TOTAL') & (data3.indic_de == 'NMAR') & (data3.TIME_PERIOD == 2018)]

In [31]:
data3_out.rename(columns={'OBS_VALUE':'live_births_outmarriage'}, inplace=True)
df3 = pd.merge(result, #left df
               data3_out[['geo', 'live_births_outmarriage']], #right df with just the columns I want
               on='geo', #column they have in common
               how='left'
                 )
df3

C:\Users\Windows\AppData\Local\Temp\ipykernel_15272\1708201000.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data3_out.rename(columns={'OBS_VALUE':'live_births_outmarriage'}, inplace=True)

,geo,country,age_1_child,live_births_18y,live_births_30y,live_births_inmarriage,live_births_outmarriage
0,AL,Albania,26.4,422,1759,NaN,NaN
1,AM,Armenia,24.8,410,1995,24692.0,11882.0
2,AT,Austria,29.5,303,6198,50241.0,35294.0
3,AZ,Azerbaijan,23.9,4366,5871,118266.0,20716.0
4,BE,Belgium,29.0,445,10198,NaN,61941.0
5,BG,Bulgaria,26.2,1566,3998,25830.0,36367.0
6,BY,Belarus,25.8,705,6533,81836.0,12206.0
7,CH,Switzerland,30.9,121,6652,65275.0,22576.0
8,CY,Cyprus,29.8,44,743,NaN,1752.0
9,CZ,Czech Republic,28.4,696,8879,58698.0,55338.0
10,DE,Germany,29.7,3994,60246,520627.0,266896.0
11,DK,Denmark,29.5,120,4958,28140.0,33336.0
12,EE,Estonia,27.7,75,1131,6562.0,7771.0
13,EL,Greece,30.4,565,5494,76818.0,9622.0
14,ES,Spain,31.0,2039,20565,195518.0,175309.0
15,FI,Finland,29.2,164,3468,26354.0,21223.0
16,FR,France,28.7,4186,56924,300861.0,458338.0
17,GE,Georgia,25.5,911,2721,33760.0,17375.0
18,HR,Croatia,28.8,245,2743,29298.0,7647.0
19,HU,Hungary,28.2,1512,6025,52430.0,41034.0
20,IE,Ireland,30.5,249,3271,37920.0,23102.0
21,IS,Iceland,28.3,16,311,1249.0,2979.0
22,IT,Italy,31.2,1516,28638,290414.0,149333.0
23,LT,Lithuania,27.8,237,2257,20715.0,7420.0
24,LU,Luxembourg,30.9,21,464,3770.0,2476.0
25,LV,Latvia,27.2,136,1411,11693.0,7621.0
26,MK,Macedonia,26.9,224,1458,18746.0,2587.0
27,MT,Malta,29.2,50,354,NaN,NaN
28,NL,Netherlands,30.0,358,14200,81107.0,87418.0
29,NO,Norway,29.5,106,4577,24017.0,31103.0
30,PL,Poland,27.4,2691,29092,285594.0,102584.0
31,PT,Portugal,29.8,539,5458,38395.0,48625.0
32,RO,Romania,26.7,4913,13976,140054.0,62690.0
33,RS,Serbia,28.1,671,4439,46845.0,17130.0
34,SE,Sweden,29.3,303,9046,52656.0,63175.0
35,SI,Slovenia,28.8,46,1705,8293.0,11292.0
36,SK,Slovakia,27.1,984,4100,34587.0,23052.0
37,TR,Turkey,26.3,18696,72891,1200544.0,35710.0
38,UA,Ukraine,25.4,4608,20892,267065.0,68809.0
39,UK,United Kingdom,29.0,6146,49289,NaN,NaN
40,XK,Kosovo,27.1,213,1459,13669.0,8818.0

In [32]:
compression_opts = dict(method='zip',
                        archive_name='df3.csv')  
df3.to_csv('df3.zip', index=False, compression=compression_opts)

## Adding proportion of females employed

Percentage of females who is employed, with respect of all the female population in each country (N.B.: females, not necessarily just mothers)

In [2]:
#Deep copy of the dataset created before
df3 = pd.read_csv("df3.csv")
df4 = df3.copy()
df4.head()

,geo,country,age_1_child,live_births_18y,live_births_30y,live_births_inmarriage,live_births_outmarriage
0,AL,Albania,26.4,422,1759,NaN,NaN
1,AM,Armenia,24.8,410,1995,24692.0,11882.0
2,AT,Austria,29.5,303,6198,50241.0,35294.0
3,AZ,Azerbaijan,23.9,4366,5871,118266.0,20716.0
4,BE,Belgium,29.0,445,10198,NaN,61941.0

In [3]:
#I import the dataset with the interested variables to add
data4 = pd.read_csv("percentage_females_employment.csv")
data4.head()

,DATAFLOW,LAST UPDATE,freq,indic_em,sex,age,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,AT,2012,66.7,NaN
1,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,AT,2013,66.9,NaN
2,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,AT,2014,66.9,NaN
3,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,AT,2015,67.1,NaN
4,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,AT,2016,67.7,NaN

In [6]:
#data4 contains data related to the percentage of employed women in 2018
data4_18 = data4[data4.TIME_PERIOD == 2018]
data4_18['employed_women_2018'] = data4_18['OBS_VALUE']/100
data4_18.drop(['OBS_VALUE'], axis=1, inplace=True)
data4_18

C:\Users\Windows\AppData\Local\Temp\ipykernel_10292\2856529199.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data4_18['employed_women_2018'] = data4_18['OBS_VALUE']/100
C:\Users\Windows\AppData\Local\Temp\ipykernel_10292\2856529199.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data4_18.drop(['OBS_VALUE'], axis=1, inplace=True)

,DATAFLOW,LAST UPDATE,freq,indic_em,sex,age,unit,geo,TIME_PERIOD,OBS_FLAG,employed_women_2018
6,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,AT,2018,NaN,0.686
16,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,BE,2018,NaN,0.607
26,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,BG,2018,NaN,0.630
36,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,CH,2018,NaN,0.757
46,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,CY,2018,NaN,0.642
56,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,CZ,2018,NaN,0.676
66,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,DE,2018,NaN,0.711
76,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,DK,2018,NaN,0.713
86,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,EE,2018,NaN,0.725
96,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,EL,2018,NaN,0.446
106,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,ES,2018,NaN,0.569
116,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,FI,2018,NaN,0.697
126,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,FR,2018,NaN,0.633
136,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,HR,2018,NaN,0.559
146,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,HU,2018,NaN,0.666
156,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,IE,2018,NaN,0.630
166,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,IS,2018,NaN,0.825
176,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,IT,2018,NaN,0.495
186,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,LT,2018,NaN,0.716
196,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,LU,2018,NaN,0.634
206,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,LV,2018,NaN,0.700
216,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,ME,2018,NaN,0.484
225,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,MK,2018,NaN,0.417
234,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,MT,2018,NaN,0.615
244,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,NL,2018,NaN,0.746
254,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,NO,2018,NaN,0.726
264,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,PL,2018,NaN,0.603
274,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,PT,2018,NaN,0.663
284,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,RO,2018,NaN,0.504
294,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,RS,2018,NaN,0.503
304,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,SE,2018,b,0.752
314,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,SI,2018,NaN,0.671
324,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,SK,2018,NaN,0.655
334,ESTAT:LFSI_EMP_A(1.0),11/07/22 23:00:00,A,EMP_LFS,F,Y15-64,PC_POP,TR,2018,NaN,0.329

In [7]:
result = pd.merge(df4, #left df
                  data4_18[['geo', 'employed_women_2018']], #right df with just the columns I want
                  on='geo', #column they have in common
                  how='left'
                 )
result

,geo,country,age_1_child,live_births_18y,live_births_30y,live_births_inmarriage,live_births_outmarriage,employed_women_2018
0,AL,Albania,26.4,422,1759,NaN,NaN,NaN
1,AM,Armenia,24.8,410,1995,24692.0,11882.0,NaN
2,AT,Austria,29.5,303,6198,50241.0,35294.0,0.686
3,AZ,Azerbaijan,23.9,4366,5871,118266.0,20716.0,NaN
4,BE,Belgium,29.0,445,10198,NaN,61941.0,0.607
5,BG,Bulgaria,26.2,1566,3998,25830.0,36367.0,0.630
6,BY,Belarus,25.8,705,6533,81836.0,12206.0,NaN
7,CH,Switzerland,30.9,121,6652,65275.0,22576.0,0.757
8,CY,Cyprus,29.8,44,743,NaN,1752.0,0.642
9,CZ,Czech Republic,28.4,696,8879,58698.0,55338.0,0.676
10,DE,Germany,29.7,3994,60246,520627.0,266896.0,0.711
11,DK,Denmark,29.5,120,4958,28140.0,33336.0,0.713
12,EE,Estonia,27.7,75,1131,6562.0,7771.0,0.725
13,EL,Greece,30.4,565,5494,76818.0,9622.0,0.446
14,ES,Spain,31.0,2039,20565,195518.0,175309.0,0.569
15,FI,Finland,29.2,164,3468,26354.0,21223.0,0.697
16,FR,France,28.7,4186,56924,300861.0,458338.0,0.633
17,GE,Georgia,25.5,911,2721,33760.0,17375.0,NaN
18,HR,Croatia,28.8,245,2743,29298.0,7647.0,0.559
19,HU,Hungary,28.2,1512,6025,52430.0,41034.0,0.666
20,IE,Ireland,30.5,249,3271,37920.0,23102.0,0.630
21,IS,Iceland,28.3,16,311,1249.0,2979.0,0.825
22,IT,Italy,31.2,1516,28638,290414.0,149333.0,0.495
23,LT,Lithuania,27.8,237,2257,20715.0,7420.0,0.716
24,LU,Luxembourg,30.9,21,464,3770.0,2476.0,0.634
25,LV,Latvia,27.2,136,1411,11693.0,7621.0,0.700
26,MK,Macedonia,26.9,224,1458,18746.0,2587.0,0.417
27,MT,Malta,29.2,50,354,NaN,NaN,0.615
28,NL,Netherlands,30.0,358,14200,81107.0,87418.0,0.746
29,NO,Norway,29.5,106,4577,24017.0,31103.0,0.726
30,PL,Poland,27.4,2691,29092,285594.0,102584.0,0.603
31,PT,Portugal,29.8,539,5458,38395.0,48625.0,0.663
32,RO,Romania,26.7,4913,13976,140054.0,62690.0,0.504
33,RS,Serbia,28.1,671,4439,46845.0,17130.0,0.503
34,SE,Sweden,29.3,303,9046,52656.0,63175.0,0.752
35,SI,Slovenia,28.8,46,1705,8293.0,11292.0,0.671
36,SK,Slovakia,27.1,984,4100,34587.0,23052.0,0.655
37,TR,Turkey,26.3,18696,72891,1200544.0,35710.0,0.329
38,UA,Ukraine,25.4,4608,20892,267065.0,68809.0,NaN
39,UK,United Kingdom,29.0,6146,49289,NaN,NaN,NaN
40,XK,Kosovo,27.1,213,1459,13669.0,8818.0,NaN

In [11]:
compression_opts = dict(method='zip',
                        archive_name='df4.csv')  
result.to_csv('df4.zip', index=False, compression=compression_opts)

## Adding live births of mothers with foreign citizenship

Number of live births of mothers that have a citizenship different from the one of the state where they have gave birth

In [12]:
#Deep copy of the dataset created before
df4 = pd.read_csv("df4.csv")
df5 = df4.copy()
df5.head()

,geo,country,age_1_child,live_births_18y,live_births_30y,live_births_inmarriage,live_births_outmarriage,employed_women_2018
0,AL,Albania,26.4,422,1759,NaN,NaN,NaN
1,AM,Armenia,24.8,410,1995,24692.0,11882.0,NaN
2,AT,Austria,29.5,303,6198,50241.0,35294.0,0.686
3,AZ,Azerbaijan,23.9,4366,5871,118266.0,20716.0,NaN
4,BE,Belgium,29.0,445,10198,NaN,61941.0,0.607

In [13]:
#I import the dataset with the interested variables to add
data5 = pd.read_csv("live_births_foreign_mother_citizenship.csv")
data5.head()

,DATAFLOW,LAST UPDATE,freq,unit,age,citizen,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:DEMO_FACZC$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,FOR,AD,2011,531,NaN
1,ESTAT:DEMO_FACZC$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,FOR,AD,2012,483,NaN
2,ESTAT:DEMO_FACZC$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,FOR,AD,2018,351,NaN
3,ESTAT:DEMO_FACZC$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,FOR,AM,2019,420,NaN
4,ESTAT:DEMO_FACZC$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,FOR,AM,2020,498,NaN

In [16]:
#data5_18 contains data related to the live births of foreign mothers in 2018
data5_18 = data5[data5.TIME_PERIOD == 2018]

In [17]:
data5_18.rename(columns={'OBS_VALUE':'live_births_foreign'}, inplace=True)
result = pd.merge(df5, #left df
                  data5_18[['geo', 'live_births_foreign']], #right df with just the columns I want
                  on='geo', #column they have in common
                  how='left'
                 )
result

C:\Users\Windows\AppData\Local\Temp\ipykernel_10292\134887510.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data5_18.rename(columns={'OBS_VALUE':'live_births_foreign'}, inplace=True)

,geo,country,age_1_child,live_births_18y,live_births_30y,live_births_inmarriage,live_births_outmarriage,employed_women_2018,live_births_foreign
0,AL,Albania,26.4,422,1759,NaN,NaN,NaN,NaN
1,AM,Armenia,24.8,410,1995,24692.0,11882.0,NaN,NaN
2,AT,Austria,29.5,303,6198,50241.0,35294.0,0.686,25597.0
3,AZ,Azerbaijan,23.9,4366,5871,118266.0,20716.0,NaN,1657.0
4,BE,Belgium,29.0,445,10198,NaN,61941.0,0.607,29187.0
5,BG,Bulgaria,26.2,1566,3998,25830.0,36367.0,0.630,398.0
6,BY,Belarus,25.8,705,6533,81836.0,12206.0,NaN,NaN
7,CH,Switzerland,30.9,121,6652,65275.0,22576.0,0.757,35019.0
8,CY,Cyprus,29.8,44,743,NaN,1752.0,0.642,2900.0
9,CZ,Czech Republic,28.4,696,8879,58698.0,55338.0,0.676,7273.0
10,DE,Germany,29.7,3994,60246,520627.0,266896.0,0.711,185192.0
11,DK,Denmark,29.5,120,4958,28140.0,33336.0,0.713,9858.0
12,EE,Estonia,27.7,75,1131,6562.0,7771.0,0.725,1349.0
13,EL,Greece,30.4,565,5494,76818.0,9622.0,0.446,12313.0
14,ES,Spain,31.0,2039,20565,195518.0,175309.0,0.569,75719.0
15,FI,Finland,29.2,164,3468,26354.0,21223.0,0.697,4661.0
16,FR,France,28.7,4186,56924,300861.0,458338.0,0.633,136951.0
17,GE,Georgia,25.5,911,2721,33760.0,17375.0,NaN,1433.0
18,HR,Croatia,28.8,245,2743,29298.0,7647.0,0.559,407.0
19,HU,Hungary,28.2,1512,6025,52430.0,41034.0,0.666,1335.0
20,IE,Ireland,30.5,249,3271,37920.0,23102.0,0.630,13883.0
21,IS,Iceland,28.3,16,311,1249.0,2979.0,0.825,654.0
22,IT,Italy,31.2,1516,28638,290414.0,149333.0,0.495,88619.0
23,LT,Lithuania,27.8,237,2257,20715.0,7420.0,0.716,755.0
24,LU,Luxembourg,30.9,21,464,3770.0,2476.0,0.634,3845.0
25,LV,Latvia,27.2,136,1411,11693.0,7621.0,0.700,1093.0
26,MK,Macedonia,26.9,224,1458,18746.0,2587.0,0.417,776.0
27,MT,Malta,29.2,50,354,NaN,NaN,0.615,1048.0
28,NL,Netherlands,30.0,358,14200,81107.0,87418.0,0.746,20878.0
29,NO,Norway,29.5,106,4577,24017.0,31103.0,0.726,12198.0
30,PL,Poland,27.4,2691,29092,285594.0,102584.0,0.603,5142.0
31,PT,Portugal,29.8,539,5458,38395.0,48625.0,0.663,9389.0
32,RO,Romania,26.7,4913,13976,140054.0,62690.0,0.504,2473.0
33,RS,Serbia,28.1,671,4439,46845.0,17130.0,0.503,NaN
34,SE,Sweden,29.3,303,9046,52656.0,63175.0,0.752,20209.0
35,SI,Slovenia,28.8,46,1705,8293.0,11292.0,0.671,2087.0
36,SK,Slovakia,27.1,984,4100,34587.0,23052.0,0.655,692.0
37,TR,Turkey,26.3,18696,72891,1200544.0,35710.0,0.329,20431.0
38,UA,Ukraine,25.4,4608,20892,267065.0,68809.0,NaN,NaN
39,UK,United Kingdom,29.0,6146,49289,NaN,NaN,NaN,135681.0
40,XK,Kosovo,27.1,213,1459,13669.0,8818.0,NaN,80.0

In [18]:
compression_opts = dict(method='zip',
                        archive_name='df5.csv')  
result.to_csv('df5.zip', index=False, compression=compression_opts)

## Adding abortion ratio

The abortion ratio is defined as the number of abortions per 1000 live births in a given year by the Eurostat metadata. I consider for my analysis the abortion ratio in 2018. Where NaN is present, I replace it with the abortion ratio of the corresponding country of another year or with the abortion ratio taken from the website https://abort-report.eu/europe/ (site about abortion in Europe hold by Exelgyn, a global pharmaceutical company specialising in women’s healthcare).

In [19]:
#Deep copy of the dataset created before
df5 = pd.read_csv("df5.csv")
df6 = df5.copy()
df6.head()

,geo,country,age_1_child,live_births_18y,live_births_30y,live_births_inmarriage,live_births_outmarriage,employed_women_2018,live_births_foreign
0,AL,Albania,26.4,422,1759,NaN,NaN,NaN,NaN
1,AM,Armenia,24.8,410,1995,24692.0,11882.0,NaN,NaN
2,AT,Austria,29.5,303,6198,50241.0,35294.0,0.686,25597.0
3,AZ,Azerbaijan,23.9,4366,5871,118266.0,20716.0,NaN,1657.0
4,BE,Belgium,29.0,445,10198,NaN,61941.0,0.607,29187.0

In [20]:
#I import the dataset with the interested variables to add
data6 = pd.read_csv("abortion_ratio.csv")
data6.head()

,DATAFLOW,LAST UPDATE,freq,indic_de,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:DEMO_FABORTIND$DEFAULTVIEW(1.0),30/06/22 23:00:00,A,ABRATIO,RT,AL,2014,155.8,NaN
1,ESTAT:DEMO_FABORTIND$DEFAULTVIEW(1.0),30/06/22 23:00:00,A,ABRATIO,RT,AL,2015,171.8,NaN
2,ESTAT:DEMO_FABORTIND$DEFAULTVIEW(1.0),30/06/22 23:00:00,A,ABRATIO,RT,AL,2017,32.4,NaN
3,ESTAT:DEMO_FABORTIND$DEFAULTVIEW(1.0),30/06/22 23:00:00,A,ABRATIO,RT,AL,2018,39.6,NaN
4,ESTAT:DEMO_FABORTIND$DEFAULTVIEW(1.0),30/06/22 23:00:00,A,ABRATIO,RT,AL,2019,29.3,NaN

In [21]:
#data6_18 contains data related to the abortion ratio in 2018
data6_18 = data6[data6.TIME_PERIOD == 2018]
data6_18

,DATAFLOW,LAST UPDATE,freq,indic_de,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
3,ESTAT:DEMO_FABORTIND$DEFAULTVIEW(1.0),30/06/22 23:00:00,A,ABRATIO,RT,AL,2018,39.6,NaN
10,ESTAT:DEMO_FABORTIND$DEFAULTVIEW(1.0),30/06/22 23:00:00,A,ABRATIO,RT,AM,2018,284.5,NaN
17,ESTAT:DEMO_FABORTIND$DEFAULTVIEW(1.0),30/06/22 23:00:00,A,ABRATIO,RT,AZ,2018,260.0,NaN
25,ESTAT:DEMO_FABORTIND$DEFAULTVIEW(1.0),30/06/22 23:00:00,A,ABRATIO,RT,BG,2018,376.8,NaN
32,ESTAT:DEMO_FABORTIND$DEFAULTVIEW(1.0),30/06/22 23:00:00,A,ABRATIO,RT,BY,2018,247.8,NaN
38,ESTAT:DEMO_FABORTIND$DEFAULTVIEW(1.0),30/06/22 23:00:00,A,ABRATIO,RT,CH,2018,116.8,NaN
46,ESTAT:DEMO_FABORTIND$DEFAULTVIEW(1.0),30/06/22 23:00:00,A,ABRATIO,RT,CZ,2018,160.5,NaN
54,ESTAT:DEMO_FABORTIND$DEFAULTVIEW(1.0),30/06/22 23:00:00,A,ABRATIO,RT,DE_TOT,2018,128.2,NaN
64,ESTAT:DEMO_FABORTIND$DEFAULTVIEW(1.0),30/06/22 23:00:00,A,ABRATIO,RT,EE,2018,264.5,NaN
70,ESTAT:DEMO_FABORTIND$DEFAULTVIEW(1.0),30/06/22 23:00:00,A,ABRATIO,RT,ES,2018,258.7,NaN
78,ESTAT:DEMO_FABORTIND$DEFAULTVIEW(1.0),30/06/22 23:00:00,A,ABRATIO,RT,FI,2018,180.7,NaN
85,ESTAT:DEMO_FABORTIND$DEFAULTVIEW(1.0),30/06/22 23:00:00,A,ABRATIO,RT,GE,2018,444.5,NaN
93,ESTAT:DEMO_FABORTIND$DEFAULTVIEW(1.0),30/06/22 23:00:00,A,ABRATIO,RT,HR,2018,69.2,NaN
101,ESTAT:DEMO_FABORTIND$DEFAULTVIEW(1.0),30/06/22 23:00:00,A,ABRATIO,RT,HU,2018,288.2,NaN
105,ESTAT:DEMO_FABORTIND$DEFAULTVIEW(1.0),30/06/22 23:00:00,A,ABRATIO,RT,IS,2018,248.1,NaN
110,ESTAT:DEMO_FABORTIND$DEFAULTVIEW(1.0),30/06/22 23:00:00,A,ABRATIO,RT,IT,2018,172.9,NaN
117,ESTAT:DEMO_FABORTIND$DEFAULTVIEW(1.0),30/06/22 23:00:00,A,ABRATIO,RT,LT,2018,127.5,NaN
125,ESTAT:DEMO_FABORTIND$DEFAULTVIEW(1.0),30/06/22 23:00:00,A,ABRATIO,RT,LV,2018,188.3,NaN
137,ESTAT:DEMO_FABORTIND$DEFAULTVIEW(1.0),30/06/22 23:00:00,A,ABRATIO,RT,PL,2018,2.8,NaN
143,ESTAT:DEMO_FABORTIND$DEFAULTVIEW(1.0),30/06/22 23:00:00,A,ABRATIO,RT,PT,2018,171.5,NaN
151,ESTAT:DEMO_FABORTIND$DEFAULTVIEW(1.0),30/06/22 23:00:00,A,ABRATIO,RT,RO,2018,258.0,NaN
155,ESTAT:DEMO_FABORTIND$DEFAULTVIEW(1.0),30/06/22 23:00:00,A,ABRATIO,RT,RS,2018,156.0,NaN
164,ESTAT:DEMO_FABORTIND$DEFAULTVIEW(1.0),30/06/22 23:00:00,A,ABRATIO,RT,SI,2018,177.4,NaN
172,ESTAT:DEMO_FABORTIND$DEFAULTVIEW(1.0),30/06/22 23:00:00,A,ABRATIO,RT,SK,2018,156.8,NaN
177,ESTAT:DEMO_FABORTIND$DEFAULTVIEW(1.0),30/06/22 23:00:00,A,ABRATIO,RT,UA,2018,258.1,NaN

In [22]:
data6_18.rename(columns={'OBS_VALUE':'abortion_ratio'}, inplace=True)
result = pd.merge(df6, #left df
                  data6_18[['geo', 'abortion_ratio']], #right df with just the columns I want
                  on='geo', #column they have in common
                  how='left'
                 )
result

C:\Users\Windows\AppData\Local\Temp\ipykernel_10292\2509035718.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data6_18.rename(columns={'OBS_VALUE':'abortion_ratio'}, inplace=True)

,geo,country,age_1_child,live_births_18y,live_births_30y,live_births_inmarriage,live_births_outmarriage,employed_women_2018,live_births_foreign,abortion_ratio
0,AL,Albania,26.4,422,1759,NaN,NaN,NaN,NaN,39.6
1,AM,Armenia,24.8,410,1995,24692.0,11882.0,NaN,NaN,284.5
2,AT,Austria,29.5,303,6198,50241.0,35294.0,0.686,25597.0,NaN
3,AZ,Azerbaijan,23.9,4366,5871,118266.0,20716.0,NaN,1657.0,260.0
4,BE,Belgium,29.0,445,10198,NaN,61941.0,0.607,29187.0,NaN
5,BG,Bulgaria,26.2,1566,3998,25830.0,36367.0,0.630,398.0,376.8
6,BY,Belarus,25.8,705,6533,81836.0,12206.0,NaN,NaN,247.8
7,CH,Switzerland,30.9,121,6652,65275.0,22576.0,0.757,35019.0,116.8
8,CY,Cyprus,29.8,44,743,NaN,1752.0,0.642,2900.0,NaN
9,CZ,Czech Republic,28.4,696,8879,58698.0,55338.0,0.676,7273.0,160.5
10,DE,Germany,29.7,3994,60246,520627.0,266896.0,0.711,185192.0,NaN
11,DK,Denmark,29.5,120,4958,28140.0,33336.0,0.713,9858.0,NaN
12,EE,Estonia,27.7,75,1131,6562.0,7771.0,0.725,1349.0,264.5
13,EL,Greece,30.4,565,5494,76818.0,9622.0,0.446,12313.0,NaN
14,ES,Spain,31.0,2039,20565,195518.0,175309.0,0.569,75719.0,258.7
15,FI,Finland,29.2,164,3468,26354.0,21223.0,0.697,4661.0,180.7
16,FR,France,28.7,4186,56924,300861.0,458338.0,0.633,136951.0,NaN
17,GE,Georgia,25.5,911,2721,33760.0,17375.0,NaN,1433.0,444.5
18,HR,Croatia,28.8,245,2743,29298.0,7647.0,0.559,407.0,69.2
19,HU,Hungary,28.2,1512,6025,52430.0,41034.0,0.666,1335.0,288.2
20,IE,Ireland,30.5,249,3271,37920.0,23102.0,0.630,13883.0,NaN
21,IS,Iceland,28.3,16,311,1249.0,2979.0,0.825,654.0,248.1
22,IT,Italy,31.2,1516,28638,290414.0,149333.0,0.495,88619.0,172.9
23,LT,Lithuania,27.8,237,2257,20715.0,7420.0,0.716,755.0,127.5
24,LU,Luxembourg,30.9,21,464,3770.0,2476.0,0.634,3845.0,NaN
25,LV,Latvia,27.2,136,1411,11693.0,7621.0,0.700,1093.0,188.3
26,MK,Macedonia,26.9,224,1458,18746.0,2587.0,0.417,776.0,NaN
27,MT,Malta,29.2,50,354,NaN,NaN,0.615,1048.0,NaN
28,NL,Netherlands,30.0,358,14200,81107.0,87418.0,0.746,20878.0,NaN
29,NO,Norway,29.5,106,4577,24017.0,31103.0,0.726,12198.0,NaN
30,PL,Poland,27.4,2691,29092,285594.0,102584.0,0.603,5142.0,2.8
31,PT,Portugal,29.8,539,5458,38395.0,48625.0,0.663,9389.0,171.5
32,RO,Romania,26.7,4913,13976,140054.0,62690.0,0.504,2473.0,258.0
33,RS,Serbia,28.1,671,4439,46845.0,17130.0,0.503,NaN,156.0
34,SE,Sweden,29.3,303,9046,52656.0,63175.0,0.752,20209.0,NaN
35,SI,Slovenia,28.8,46,1705,8293.0,11292.0,0.671,2087.0,177.4
36,SK,Slovakia,27.1,984,4100,34587.0,23052.0,0.655,692.0,156.8
37,TR,Turkey,26.3,18696,72891,1200544.0,35710.0,0.329,20431.0,NaN
38,UA,Ukraine,25.4,4608,20892,267065.0,68809.0,NaN,NaN,258.1
39,UK,United Kingdom,29.0,6146,49289,NaN,NaN,NaN,135681.0,NaN
40,XK,Kosovo,27.1,213,1459,13669.0,8818.0,NaN,80.0,NaN

In [26]:
result = result.reset_index()

,level_0,geo,country,age_1_child,live_births_18y,live_births_30y,live_births_inmarriage,live_births_outmarriage,employed_women_2018,live_births_foreign,abortion_ratio
0,0,AL,Albania,26.4,422,1759,NaN,NaN,NaN,NaN,39.6
1,1,AM,Armenia,24.8,410,1995,24692.0,11882.0,NaN,NaN,284.5
2,2,AT,Austria,29.5,303,6198,50241.0,35294.0,0.686,25597.0,NaN
3,3,AZ,Azerbaijan,23.9,4366,5871,118266.0,20716.0,NaN,1657.0,260.0
4,4,BE,Belgium,29.0,445,10198,NaN,61941.0,0.607,29187.0,NaN
5,5,BG,Bulgaria,26.2,1566,3998,25830.0,36367.0,0.630,398.0,376.8
6,6,BY,Belarus,25.8,705,6533,81836.0,12206.0,NaN,NaN,247.8
7,7,CH,Switzerland,30.9,121,6652,65275.0,22576.0,0.757,35019.0,116.8
8,8,CY,Cyprus,29.8,44,743,NaN,1752.0,0.642,2900.0,NaN
9,9,CZ,Czech Republic,28.4,696,8879,58698.0,55338.0,0.676,7273.0,160.5
10,10,DE,Germany,29.7,3994,60246,520627.0,266896.0,0.711,185192.0,NaN
11,11,DK,Denmark,29.5,120,4958,28140.0,33336.0,0.713,9858.0,NaN
12,12,EE,Estonia,27.7,75,1131,6562.0,7771.0,0.725,1349.0,264.5
13,13,EL,Greece,30.4,565,5494,76818.0,9622.0,0.446,12313.0,NaN
14,14,ES,Spain,31.0,2039,20565,195518.0,175309.0,0.569,75719.0,258.7
15,15,FI,Finland,29.2,164,3468,26354.0,21223.0,0.697,4661.0,180.7
16,16,FR,France,28.7,4186,56924,300861.0,458338.0,0.633,136951.0,NaN
17,17,GE,Georgia,25.5,911,2721,33760.0,17375.0,NaN,1433.0,444.5
18,18,HR,Croatia,28.8,245,2743,29298.0,7647.0,0.559,407.0,69.2
19,19,HU,Hungary,28.2,1512,6025,52430.0,41034.0,0.666,1335.0,288.2
20,20,IE,Ireland,30.5,249,3271,37920.0,23102.0,0.630,13883.0,NaN
21,21,IS,Iceland,28.3,16,311,1249.0,2979.0,0.825,654.0,248.1
22,22,IT,Italy,31.2,1516,28638,290414.0,149333.0,0.495,88619.0,172.9
23,23,LT,Lithuania,27.8,237,2257,20715.0,7420.0,0.716,755.0,127.5
24,24,LU,Luxembourg,30.9,21,464,3770.0,2476.0,0.634,3845.0,NaN
25,25,LV,Latvia,27.2,136,1411,11693.0,7621.0,0.700,1093.0,188.3
26,26,MK,Macedonia,26.9,224,1458,18746.0,2587.0,0.417,776.0,NaN
27,27,MT,Malta,29.2,50,354,NaN,NaN,0.615,1048.0,NaN
28,28,NL,Netherlands,30.0,358,14200,81107.0,87418.0,0.746,20878.0,NaN
29,29,NO,Norway,29.5,106,4577,24017.0,31103.0,0.726,12198.0,NaN
30,30,PL,Poland,27.4,2691,29092,285594.0,102584.0,0.603,5142.0,2.8
31,31,PT,Portugal,29.8,539,5458,38395.0,48625.0,0.663,9389.0,171.5
32,32,RO,Romania,26.7,4913,13976,140054.0,62690.0,0.504,2473.0,258.0
33,33,RS,Serbia,28.1,671,4439,46845.0,17130.0,0.503,NaN,156.0
34,34,SE,Sweden,29.3,303,9046,52656.0,63175.0,0.752,20209.0,NaN
35,35,SI,Slovenia,28.8,46,1705,8293.0,11292.0,0.671,2087.0,177.4
36,36,SK,Slovakia,27.1,984,4100,34587.0,23052.0,0.655,692.0,156.8
37,37,TR,Turkey,26.3,18696,72891,1200544.0,35710.0,0.329,20431.0,NaN
38,38,UA,Ukraine,25.4,4608,20892,267065.0,68809.0,NaN,NaN,258.1
39,39,UK,United Kingdom,29.0,6146,49289,NaN,NaN,NaN,135681.0,NaN
40,40,XK,Kosovo,27.1,213,1459,13669.0,8818.0,NaN,80.0,NaN

In [27]:
del result['level_0']
result

,geo,country,age_1_child,live_births_18y,live_births_30y,live_births_inmarriage,live_births_outmarriage,employed_women_2018,live_births_foreign,abortion_ratio
0,AL,Albania,26.4,422,1759,NaN,NaN,NaN,NaN,39.6
1,AM,Armenia,24.8,410,1995,24692.0,11882.0,NaN,NaN,284.5
2,AT,Austria,29.5,303,6198,50241.0,35294.0,0.686,25597.0,NaN
3,AZ,Azerbaijan,23.9,4366,5871,118266.0,20716.0,NaN,1657.0,260.0
4,BE,Belgium,29.0,445,10198,NaN,61941.0,0.607,29187.0,NaN
5,BG,Bulgaria,26.2,1566,3998,25830.0,36367.0,0.630,398.0,376.8
6,BY,Belarus,25.8,705,6533,81836.0,12206.0,NaN,NaN,247.8
7,CH,Switzerland,30.9,121,6652,65275.0,22576.0,0.757,35019.0,116.8
8,CY,Cyprus,29.8,44,743,NaN,1752.0,0.642,2900.0,NaN
9,CZ,Czech Republic,28.4,696,8879,58698.0,55338.0,0.676,7273.0,160.5
10,DE,Germany,29.7,3994,60246,520627.0,266896.0,0.711,185192.0,NaN
11,DK,Denmark,29.5,120,4958,28140.0,33336.0,0.713,9858.0,NaN
12,EE,Estonia,27.7,75,1131,6562.0,7771.0,0.725,1349.0,264.5
13,EL,Greece,30.4,565,5494,76818.0,9622.0,0.446,12313.0,NaN
14,ES,Spain,31.0,2039,20565,195518.0,175309.0,0.569,75719.0,258.7
15,FI,Finland,29.2,164,3468,26354.0,21223.0,0.697,4661.0,180.7
16,FR,France,28.7,4186,56924,300861.0,458338.0,0.633,136951.0,NaN
17,GE,Georgia,25.5,911,2721,33760.0,17375.0,NaN,1433.0,444.5
18,HR,Croatia,28.8,245,2743,29298.0,7647.0,0.559,407.0,69.2
19,HU,Hungary,28.2,1512,6025,52430.0,41034.0,0.666,1335.0,288.2
20,IE,Ireland,30.5,249,3271,37920.0,23102.0,0.630,13883.0,NaN
21,IS,Iceland,28.3,16,311,1249.0,2979.0,0.825,654.0,248.1
22,IT,Italy,31.2,1516,28638,290414.0,149333.0,0.495,88619.0,172.9
23,LT,Lithuania,27.8,237,2257,20715.0,7420.0,0.716,755.0,127.5
24,LU,Luxembourg,30.9,21,464,3770.0,2476.0,0.634,3845.0,NaN
25,LV,Latvia,27.2,136,1411,11693.0,7621.0,0.700,1093.0,188.3
26,MK,Macedonia,26.9,224,1458,18746.0,2587.0,0.417,776.0,NaN
27,MT,Malta,29.2,50,354,NaN,NaN,0.615,1048.0,NaN
28,NL,Netherlands,30.0,358,14200,81107.0,87418.0,0.746,20878.0,NaN
29,NO,Norway,29.5,106,4577,24017.0,31103.0,0.726,12198.0,NaN
30,PL,Poland,27.4,2691,29092,285594.0,102584.0,0.603,5142.0,2.8
31,PT,Portugal,29.8,539,5458,38395.0,48625.0,0.663,9389.0,171.5
32,RO,Romania,26.7,4913,13976,140054.0,62690.0,0.504,2473.0,258.0
33,RS,Serbia,28.1,671,4439,46845.0,17130.0,0.503,NaN,156.0
34,SE,Sweden,29.3,303,9046,52656.0,63175.0,0.752,20209.0,NaN
35,SI,Slovenia,28.8,46,1705,8293.0,11292.0,0.671,2087.0,177.4
36,SK,Slovakia,27.1,984,4100,34587.0,23052.0,0.655,692.0,156.8
37,TR,Turkey,26.3,18696,72891,1200544.0,35710.0,0.329,20431.0,NaN
38,UA,Ukraine,25.4,4608,20892,267065.0,68809.0,NaN,NaN,258.1
39,UK,United Kingdom,29.0,6146,49289,NaN,NaN,NaN,135681.0,NaN
40,XK,Kosovo,27.1,213,1459,13669.0,8818.0,NaN,80.0,NaN

In [36]:
#Replcaing the NaN with more information taken from sites different from Eurostat
result.at[2,'abortion_ratio'] = 20.9 #Austria
result.at[4,'abortion_ratio'] = 154.4 #Belgium
result.at[8,'abortion_ratio'] = 0.4 #Cyprus
result.at[10,'abortion_ratio'] = 128.2 #Germany
result.at[11,'abortion_ratio'] = 231.0 #Denmark
result.at[13,'abortion_ratio'] = 234.7 #Greece
result.at[16,'abortion_ratio'] = 300.0 #France
result.at[20,'abortion_ratio'] = 47.7 #Ireland
result.at[24,'abortion_ratio'] = 95.3 #Luxembourg
result.at[26,'abortion_ratio'] = 184.3 #Macedonia
result.at[27,'abortion_ratio'] = 11.9 #Malta
result.at[28,'abortion_ratio'] = 184.0 #Netherlands
result.at[29,'abortion_ratio'] = 224.8 #Norway
result.at[34,'abortion_ratio'] = 308.9 #Sweden
result.at[37,'abortion_ratio'] = 33.1 #Turkey
result.at[39,'abortion_ratio'] = 299.0 #United Kingdom
result.at[40,'abortion_ratio'] = 13.2 #Kosovo

In [37]:
result

,geo,country,age_1_child,live_births_18y,live_births_30y,live_births_inmarriage,live_births_outmarriage,employed_women_2018,live_births_foreign,abortion_ratio
0,AL,Albania,26.4,422,1759,NaN,NaN,NaN,NaN,39.6
1,AM,Armenia,24.8,410,1995,24692.0,11882.0,NaN,NaN,284.5
2,AT,Austria,29.5,303,6198,50241.0,35294.0,0.686,25597.0,20.9
3,AZ,Azerbaijan,23.9,4366,5871,118266.0,20716.0,NaN,1657.0,260.0
4,BE,Belgium,29.0,445,10198,NaN,61941.0,0.607,29187.0,154.4
5,BG,Bulgaria,26.2,1566,3998,25830.0,36367.0,0.630,398.0,376.8
6,BY,Belarus,25.8,705,6533,81836.0,12206.0,NaN,NaN,247.8
7,CH,Switzerland,30.9,121,6652,65275.0,22576.0,0.757,35019.0,116.8
8,CY,Cyprus,29.8,44,743,NaN,1752.0,0.642,2900.0,0.4
9,CZ,Czech Republic,28.4,696,8879,58698.0,55338.0,0.676,7273.0,160.5
10,DE,Germany,29.7,3994,60246,520627.0,266896.0,0.711,185192.0,128.2
11,DK,Denmark,29.5,120,4958,28140.0,33336.0,0.713,9858.0,231.0
12,EE,Estonia,27.7,75,1131,6562.0,7771.0,0.725,1349.0,264.5
13,EL,Greece,30.4,565,5494,76818.0,9622.0,0.446,12313.0,234.7
14,ES,Spain,31.0,2039,20565,195518.0,175309.0,0.569,75719.0,258.7
15,FI,Finland,29.2,164,3468,26354.0,21223.0,0.697,4661.0,180.7
16,FR,France,28.7,4186,56924,300861.0,458338.0,0.633,136951.0,300.0
17,GE,Georgia,25.5,911,2721,33760.0,17375.0,NaN,1433.0,444.5
18,HR,Croatia,28.8,245,2743,29298.0,7647.0,0.559,407.0,69.2
19,HU,Hungary,28.2,1512,6025,52430.0,41034.0,0.666,1335.0,288.2
20,IE,Ireland,30.5,249,3271,37920.0,23102.0,0.630,13883.0,47.7
21,IS,Iceland,28.3,16,311,1249.0,2979.0,0.825,654.0,248.1
22,IT,Italy,31.2,1516,28638,290414.0,149333.0,0.495,88619.0,172.9
23,LT,Lithuania,27.8,237,2257,20715.0,7420.0,0.716,755.0,127.5
24,LU,Luxembourg,30.9,21,464,3770.0,2476.0,0.634,3845.0,95.3
25,LV,Latvia,27.2,136,1411,11693.0,7621.0,0.700,1093.0,188.3
26,MK,Macedonia,26.9,224,1458,18746.0,2587.0,0.417,776.0,184.3
27,MT,Malta,29.2,50,354,NaN,NaN,0.615,1048.0,11.9
28,NL,Netherlands,30.0,358,14200,81107.0,87418.0,0.746,20878.0,184.0
29,NO,Norway,29.5,106,4577,24017.0,31103.0,0.726,12198.0,224.8
30,PL,Poland,27.4,2691,29092,285594.0,102584.0,0.603,5142.0,2.8
31,PT,Portugal,29.8,539,5458,38395.0,48625.0,0.663,9389.0,171.5
32,RO,Romania,26.7,4913,13976,140054.0,62690.0,0.504,2473.0,258.0
33,RS,Serbia,28.1,671,4439,46845.0,17130.0,0.503,NaN,156.0
34,SE,Sweden,29.3,303,9046,52656.0,63175.0,0.752,20209.0,308.9
35,SI,Slovenia,28.8,46,1705,8293.0,11292.0,0.671,2087.0,177.4
36,SK,Slovakia,27.1,984,4100,34587.0,23052.0,0.655,692.0,156.8
37,TR,Turkey,26.3,18696,72891,1200544.0,35710.0,0.329,20431.0,33.1
38,UA,Ukraine,25.4,4608,20892,267065.0,68809.0,NaN,NaN,258.1
39,UK,United Kingdom,29.0,6146,49289,NaN,NaN,NaN,135681.0,299.0
40,XK,Kosovo,27.1,213,1459,13669.0,8818.0,NaN,80.0,13.2

In [38]:
compression_opts = dict(method='zip',
                        archive_name='df6.csv')  
result.to_csv('df6.zip', index=False, compression=compression_opts)

## Adding social protection benefits for family/children

Expenditure that the state uses for families in euro per inhabitant.

In [39]:
#Deep copy of the dataset created before
df6 = pd.read_csv("df6.csv")
df7 = df6.copy()
df7.head()

,geo,country,age_1_child,live_births_18y,live_births_30y,live_births_inmarriage,live_births_outmarriage,employed_women_2018,live_births_foreign,abortion_ratio
0,AL,Albania,26.4,422,1759,NaN,NaN,NaN,NaN,39.6
1,AM,Armenia,24.8,410,1995,24692.0,11882.0,NaN,NaN,284.5
2,AT,Austria,29.5,303,6198,50241.0,35294.0,0.686,25597.0,20.9
3,AZ,Azerbaijan,23.9,4366,5871,118266.0,20716.0,NaN,1657.0,260.0
4,BE,Belgium,29.0,445,10198,NaN,61941.0,0.607,29187.0,154.4

In [40]:
#I import the dataset with the interested variables to add
data7 = pd.read_csv("social_protection_benefits_family_euro_per_inhabitant.csv")
data7.head()

,DATAFLOW,LAST UPDATE,freq,spdep,spscheme,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SNONTARGETNOREROUTE,TOTAL,EUR_HAB_KP10,AT,2010,966.99,NaN
1,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SNONTARGETNOREROUTE,TOTAL,EUR_HAB_KP10,AT,2011,903.99,NaN
2,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SNONTARGETNOREROUTE,TOTAL,EUR_HAB_KP10,AT,2012,882.96,NaN
3,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SNONTARGETNOREROUTE,TOTAL,EUR_HAB_KP10,AT,2013,882.15,NaN
4,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SNONTARGETNOREROUTE,TOTAL,EUR_HAB_KP10,AT,2014,869.75,NaN

In [45]:
data7_18 = data7[(data7.TIME_PERIOD == 2018) & (data7.spdep == 'SPBENEFNOREROUTE') & (data7.unit == 'EUR_HAB_KP10')]
data7_18

,DATAFLOW,LAST UPDATE,freq,spdep,spscheme,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
3950,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,AT,2018,993.78,NaN
3957,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,BA,2018,33.75,NaN
3966,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,BE,2018,717.46,NaN
3976,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,BG,2018,113.35,NaN
3986,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,CH,2018,901.61,NaN
3996,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,CY,2018,288.41,NaN
4006,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,CZ,2018,295.16,NaN
4016,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,DE,2018,1199.25,NaN
4026,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,DK,2018,1647.17,NaN
4036,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,EA12,2018,698.52,p
4046,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,EA19,2018,678.90,p
4056,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,EE,2018,357.58,NaN
4066,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,EL,2018,287.17,p
4076,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,ES,2018,301.10,p
4086,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,EU15,2018,739.10,p
4095,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,EU27_2020,2018,618.26,p
4105,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,EU28,2018,639.15,p
4114,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,FI,2018,1096.41,NaN
4124,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,FR,2018,782.22,p
4134,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,HR,2018,232.63,NaN
4144,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,HU,2018,254.93,NaN
4154,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,IE,2018,879.18,NaN
4164,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,IS,2018,922.55,NaN
4174,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,IT,2018,304.47,p
4184,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,LT,2018,219.13,NaN
4194,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,LU,2018,2823.35,NaN
4204,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,LV,2018,203.43,p
4208,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,ME,2018,44.96,NaN
4221,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,MT,2018,197.25,NaN
4231,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,NL,2018,466.96,NaN
4241,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,NO,2018,2113.16,NaN
4251,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,PL,2018,311.85,NaN
4261,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,PT,2018,217.12,NaN
4271,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,RO,2018,138.12,NaN
4281,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,RS,2018,63.86,NaN
4291,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,SE,2018,1267.10,NaN
4301,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,SI,2018,371.89,NaN
4311,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,SK,2018,224.52,NaN
4321,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,TR,2018,54.12,NaN
4331,ESTAT:SPR_EXP_FFA$DEFAULTVIEW(1.0),20/06/22 23:00:00,A,SPBENEFNOREROUTE,TOTAL,EUR_HAB_KP10,UK,2018,777.35,p

In [46]:
data7_18.rename(columns={'OBS_VALUE':'social_benefit'}, inplace=True)
result = pd.merge(df7, #left df
                  data7_18[['geo', 'social_benefit']], #right df with just the columns I want
                  on='geo', #column they have in common
                  how='left'
                 )
result

C:\Users\Windows\AppData\Local\Temp\ipykernel_10292\1169112163.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data7_18.rename(columns={'OBS_VALUE':'social_benefit'}, inplace=True)

,geo,country,age_1_child,live_births_18y,live_births_30y,live_births_inmarriage,live_births_outmarriage,employed_women_2018,live_births_foreign,abortion_ratio,social_benefit
0,AL,Albania,26.4,422,1759,NaN,NaN,NaN,NaN,39.6,NaN
1,AM,Armenia,24.8,410,1995,24692.0,11882.0,NaN,NaN,284.5,NaN
2,AT,Austria,29.5,303,6198,50241.0,35294.0,0.686,25597.0,20.9,993.78
3,AZ,Azerbaijan,23.9,4366,5871,118266.0,20716.0,NaN,1657.0,260.0,NaN
4,BE,Belgium,29.0,445,10198,NaN,61941.0,0.607,29187.0,154.4,717.46
5,BG,Bulgaria,26.2,1566,3998,25830.0,36367.0,0.630,398.0,376.8,113.35
6,BY,Belarus,25.8,705,6533,81836.0,12206.0,NaN,NaN,247.8,NaN
7,CH,Switzerland,30.9,121,6652,65275.0,22576.0,0.757,35019.0,116.8,901.61
8,CY,Cyprus,29.8,44,743,NaN,1752.0,0.642,2900.0,0.4,288.41
9,CZ,Czech Republic,28.4,696,8879,58698.0,55338.0,0.676,7273.0,160.5,295.16
10,DE,Germany,29.7,3994,60246,520627.0,266896.0,0.711,185192.0,128.2,1199.25
11,DK,Denmark,29.5,120,4958,28140.0,33336.0,0.713,9858.0,231.0,1647.17
12,EE,Estonia,27.7,75,1131,6562.0,7771.0,0.725,1349.0,264.5,357.58
13,EL,Greece,30.4,565,5494,76818.0,9622.0,0.446,12313.0,234.7,287.17
14,ES,Spain,31.0,2039,20565,195518.0,175309.0,0.569,75719.0,258.7,301.10
15,FI,Finland,29.2,164,3468,26354.0,21223.0,0.697,4661.0,180.7,1096.41
16,FR,France,28.7,4186,56924,300861.0,458338.0,0.633,136951.0,300.0,782.22
17,GE,Georgia,25.5,911,2721,33760.0,17375.0,NaN,1433.0,444.5,NaN
18,HR,Croatia,28.8,245,2743,29298.0,7647.0,0.559,407.0,69.2,232.63
19,HU,Hungary,28.2,1512,6025,52430.0,41034.0,0.666,1335.0,288.2,254.93
20,IE,Ireland,30.5,249,3271,37920.0,23102.0,0.630,13883.0,47.7,879.18
21,IS,Iceland,28.3,16,311,1249.0,2979.0,0.825,654.0,248.1,922.55
22,IT,Italy,31.2,1516,28638,290414.0,149333.0,0.495,88619.0,172.9,304.47
23,LT,Lithuania,27.8,237,2257,20715.0,7420.0,0.716,755.0,127.5,219.13
24,LU,Luxembourg,30.9,21,464,3770.0,2476.0,0.634,3845.0,95.3,2823.35
25,LV,Latvia,27.2,136,1411,11693.0,7621.0,0.700,1093.0,188.3,203.43
26,MK,Macedonia,26.9,224,1458,18746.0,2587.0,0.417,776.0,184.3,NaN
27,MT,Malta,29.2,50,354,NaN,NaN,0.615,1048.0,11.9,197.25
28,NL,Netherlands,30.0,358,14200,81107.0,87418.0,0.746,20878.0,184.0,466.96
29,NO,Norway,29.5,106,4577,24017.0,31103.0,0.726,12198.0,224.8,2113.16
30,PL,Poland,27.4,2691,29092,285594.0,102584.0,0.603,5142.0,2.8,311.85
31,PT,Portugal,29.8,539,5458,38395.0,48625.0,0.663,9389.0,171.5,217.12
32,RO,Romania,26.7,4913,13976,140054.0,62690.0,0.504,2473.0,258.0,138.12
33,RS,Serbia,28.1,671,4439,46845.0,17130.0,0.503,NaN,156.0,63.86
34,SE,Sweden,29.3,303,9046,52656.0,63175.0,0.752,20209.0,308.9,1267.10
35,SI,Slovenia,28.8,46,1705,8293.0,11292.0,0.671,2087.0,177.4,371.89
36,SK,Slovakia,27.1,984,4100,34587.0,23052.0,0.655,692.0,156.8,224.52
37,TR,Turkey,26.3,18696,72891,1200544.0,35710.0,0.329,20431.0,33.1,54.12
38,UA,Ukraine,25.4,4608,20892,267065.0,68809.0,NaN,NaN,258.1,NaN
39,UK,United Kingdom,29.0,6146,49289,NaN,NaN,NaN,135681.0,299.0,777.35
40,XK,Kosovo,27.1,213,1459,13669.0,8818.0,NaN,80.0,13.2,NaN

In [47]:
#I replace the NaN of Macedonia with its value in 2017
result.at[26,'social_benefit'] = 30.91

In [48]:
compression_opts = dict(method='zip',
                        archive_name='df7.csv')  
result.to_csv('df7.zip', index=False, compression=compression_opts)

## Adding mean income pro-capite

In [49]:
df7 = pd.read_csv("df7.csv")
df8 = df7.copy()
df8.head()

,geo,country,age_1_child,live_births_18y,live_births_30y,live_births_inmarriage,live_births_outmarriage,employed_women_2018,live_births_foreign,abortion_ratio,social_benefit
0,AL,Albania,26.4,422,1759,NaN,NaN,NaN,NaN,39.6,NaN
1,AM,Armenia,24.8,410,1995,24692.0,11882.0,NaN,NaN,284.5,NaN
2,AT,Austria,29.5,303,6198,50241.0,35294.0,0.686,25597.0,20.9,993.78
3,AZ,Azerbaijan,23.9,4366,5871,118266.0,20716.0,NaN,1657.0,260.0,NaN
4,BE,Belgium,29.0,445,10198,NaN,61941.0,0.607,29187.0,154.4,717.46

In [50]:
#I import the dataset with the interested variables to add
data8 = pd.read_csv("mean_and_median_income.csv")
data8.head()

,DATAFLOW,LAST UPDATE,freq,age,sex,indic_il,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MED_E,EUR,AL,2017,1760,NaN
1,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MED_E,EUR,AL,2018,1997,NaN
2,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MED_E,EUR,AL,2019,2231,NaN
3,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MED_E,EUR,AL,2020,2523,NaN
4,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MED_E,EUR,AT,2012,21807,NaN

In [52]:
data8_18 = data8[(data8.age == 'TOTAL') & (data8.indic_il == 'MEI_E') & (data8.TIME_PERIOD == 2018) & (data8.unit == 'EUR')]
data8_18

,DATAFLOW,LAST UPDATE,freq,age,sex,indic_il,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
1066,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,AL,2018,2339,NaN
1075,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,AT,2018,27804,NaN
1085,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,BE,2018,25196,NaN
1095,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,BG,2018,4644,NaN
1105,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,CH,2018,49607,NaN
1114,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,CY,2018,17582,NaN
1123,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,CZ,2018,10098,NaN
1133,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,DE,2018,25882,NaN
1143,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,DK,2018,33759,NaN
1153,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,EA,2018,21836,e
1162,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,EA18,2018,21950,NaN
1171,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,EA19,2018,21836,NaN
1180,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,EE,2018,11746,NaN
1190,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,EL,2018,9034,NaN
1199,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,ES,2018,16937,NaN
1209,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,EU,2018,19924,e
1217,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,EU27_2007,2018,20026,NaN
1225,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,EU27_2020,2018,19067,e
1234,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,EU28,2018,19924,NaN
1242,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,FI,2018,27389,NaN
1252,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,FR,2018,25379,NaN
1261,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,HR,2018,7371,NaN
1271,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,HU,2018,6123,NaN
1280,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,IE,2018,28630,NaN
1290,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,IS,2018,43769,NaN
1297,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,IT,2018,19208,NaN
1307,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,LT,2018,8415,NaN
1316,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,LU,2018,40075,NaN
1325,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,LV,2018,8738,NaN
1334,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,ME,2018,4234,NaN
1343,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,MK,2018,2842,NaN
1352,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,MT,2018,16749,NaN
1361,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,NL,2018,26848,NaN
1370,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,NO,2018,42203,NaN
1379,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,PL,2018,7337,NaN
1388,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,PT,2018,11063,NaN
1397,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,RO,2018,3825,NaN
1406,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,RS,2018,3040,NaN
1415,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,SE,2018,27703,NaN
1425,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,SI,2018,14127,NaN
1434,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,SK,2018,7870,NaN
1443,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,TR,2018,4914,NaN
1452,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,UK,2018,25642,NaN
1453,ESTAT:ILC_DI03(1.0),27/07/22 23:00:00,A,TOTAL,T,MEI_E,EUR,XK,2018,2635,NaN

In [93]:
data8_18.rename(columns={'OBS_VALUE':'mean_income'}, inplace=True)
result = pd.merge(df8, #left df
                  data8_18[['geo', 'mean_income']], #right df with just the columns I want
                  on='geo', #column they have in common
                  how='left'
                 )
result

C:\Users\Windows\AppData\Local\Temp\ipykernel_10292\3950772747.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data8_18.rename(columns={'OBS_VALUE':'mean_income'}, inplace=True)

,geo,country,age_1_child,live_births_18y,live_births_30y,live_births_inmarriage,live_births_outmarriage,employed_women_2018,live_births_foreign,abortion_ratio,social_benefit,mean_income
0,AL,Albania,26.4,422,1759,NaN,NaN,NaN,NaN,39.6,NaN,2339.0
1,AM,Armenia,24.8,410,1995,24692.0,11882.0,NaN,NaN,284.5,NaN,NaN
2,AT,Austria,29.5,303,6198,50241.0,35294.0,0.686,25597.0,20.9,993.78,27804.0
3,AZ,Azerbaijan,23.9,4366,5871,118266.0,20716.0,NaN,1657.0,260.0,NaN,NaN
4,BE,Belgium,29.0,445,10198,NaN,61941.0,0.607,29187.0,154.4,717.46,25196.0
5,BG,Bulgaria,26.2,1566,3998,25830.0,36367.0,0.630,398.0,376.8,113.35,4644.0
6,BY,Belarus,25.8,705,6533,81836.0,12206.0,NaN,NaN,247.8,NaN,NaN
7,CH,Switzerland,30.9,121,6652,65275.0,22576.0,0.757,35019.0,116.8,901.61,49607.0
8,CY,Cyprus,29.8,44,743,NaN,1752.0,0.642,2900.0,0.4,288.41,17582.0
9,CZ,Czech Republic,28.4,696,8879,58698.0,55338.0,0.676,7273.0,160.5,295.16,10098.0
10,DE,Germany,29.7,3994,60246,520627.0,266896.0,0.711,185192.0,128.2,1199.25,25882.0
11,DK,Denmark,29.5,120,4958,28140.0,33336.0,0.713,9858.0,231.0,1647.17,33759.0
12,EE,Estonia,27.7,75,1131,6562.0,7771.0,0.725,1349.0,264.5,357.58,11746.0
13,EL,Greece,30.4,565,5494,76818.0,9622.0,0.446,12313.0,234.7,287.17,9034.0
14,ES,Spain,31.0,2039,20565,195518.0,175309.0,0.569,75719.0,258.7,301.10,16937.0
15,FI,Finland,29.2,164,3468,26354.0,21223.0,0.697,4661.0,180.7,1096.41,27389.0
16,FR,France,28.7,4186,56924,300861.0,458338.0,0.633,136951.0,300.0,782.22,25379.0
17,GE,Georgia,25.5,911,2721,33760.0,17375.0,NaN,1433.0,444.5,NaN,NaN
18,HR,Croatia,28.8,245,2743,29298.0,7647.0,0.559,407.0,69.2,232.63,7371.0
19,HU,Hungary,28.2,1512,6025,52430.0,41034.0,0.666,1335.0,288.2,254.93,6123.0
20,IE,Ireland,30.5,249,3271,37920.0,23102.0,0.630,13883.0,47.7,879.18,28630.0
21,IS,Iceland,28.3,16,311,1249.0,2979.0,0.825,654.0,248.1,922.55,43769.0
22,IT,Italy,31.2,1516,28638,290414.0,149333.0,0.495,88619.0,172.9,304.47,19208.0
23,LT,Lithuania,27.8,237,2257,20715.0,7420.0,0.716,755.0,127.5,219.13,8415.0
24,LU,Luxembourg,30.9,21,464,3770.0,2476.0,0.634,3845.0,95.3,2823.35,40075.0
25,LV,Latvia,27.2,136,1411,11693.0,7621.0,0.700,1093.0,188.3,203.43,8738.0
26,MK,Macedonia,26.9,224,1458,18746.0,2587.0,0.417,776.0,184.3,30.91,2842.0
27,MT,Malta,29.2,50,354,NaN,NaN,0.615,1048.0,11.9,197.25,16749.0
28,NL,Netherlands,30.0,358,14200,81107.0,87418.0,0.746,20878.0,184.0,466.96,26848.0
29,NO,Norway,29.5,106,4577,24017.0,31103.0,0.726,12198.0,224.8,2113.16,42203.0
30,PL,Poland,27.4,2691,29092,285594.0,102584.0,0.603,5142.0,2.8,311.85,7337.0
31,PT,Portugal,29.8,539,5458,38395.0,48625.0,0.663,9389.0,171.5,217.12,11063.0
32,RO,Romania,26.7,4913,13976,140054.0,62690.0,0.504,2473.0,258.0,138.12,3825.0
33,RS,Serbia,28.1,671,4439,46845.0,17130.0,0.503,NaN,156.0,63.86,3040.0
34,SE,Sweden,29.3,303,9046,52656.0,63175.0,0.752,20209.0,308.9,1267.10,27703.0
35,SI,Slovenia,28.8,46,1705,8293.0,11292.0,0.671,2087.0,177.4,371.89,14127.0
36,SK,Slovakia,27.1,984,4100,34587.0,23052.0,0.655,692.0,156.8,224.52,7870.0
37,TR,Turkey,26.3,18696,72891,1200544.0,35710.0,0.329,20431.0,33.1,54.12,4914.0
38,UA,Ukraine,25.4,4608,20892,267065.0,68809.0,NaN,NaN,258.1,NaN,NaN
39,UK,United Kingdom,29.0,6146,49289,NaN,NaN,NaN,135681.0,299.0,777.35,25642.0
40,XK,Kosovo,27.1,213,1459,13669.0,8818.0,NaN,80.0,13.2,NaN,2635.0

In [54]:
compression_opts = dict(method='zip',
                        archive_name='df8.csv')  
result.to_csv('df8.zip', index=False, compression=compression_opts)

## Adding fertility rate

The mean number of children that would be born alive to a woman during her lifetime if she were to survive and pass through her childbearing years conforming to the fertility rates by age of a given year.

In [105]:
df8 = pd.read_csv("df8.csv")
df9 = df8.copy()
df9.head()

,geo,country,age_1_child,live_births_18y,live_births_30y,live_births_inmarriage,live_births_outmarriage,employed_women_2018,live_births_foreign,abortion_ratio,social_benefit,mean_income
0,AL,Albania,26.4,422,1759,NaN,NaN,NaN,NaN,39.6,NaN,2339.0
1,AM,Armenia,24.8,410,1995,24692.0,11882.0,NaN,NaN,284.5,NaN,NaN
2,AT,Austria,29.5,303,6198,50241.0,35294.0,0.686,25597.0,20.9,993.78,27804.0
3,AZ,Azerbaijan,23.9,4366,5871,118266.0,20716.0,NaN,1657.0,260.0,NaN,NaN
4,BE,Belgium,29.0,445,10198,NaN,61941.0,0.607,29187.0,154.4,717.46,25196.0

In [106]:
data9 = pd.read_csv("fertility_rate.csv")
data9.head()

,DATAFLOW,LAST UPDATE,freq,indic_de,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,AT,2009,1.39,NaN
1,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,AT,2010,1.44,NaN
2,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,AT,2011,1.43,NaN
3,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,AT,2012,1.44,NaN
4,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,AT,2013,1.44,NaN

In [108]:
data9_18 = data9[data9.TIME_PERIOD == 2018]
data9_18

,DATAFLOW,LAST UPDATE,freq,indic_de,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
9,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,AT,2018,1.47,NaN
21,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,BE,2018,1.62,NaN
33,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,BG,2018,1.56,NaN
45,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,CH,2018,1.52,NaN
57,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,CY,2018,1.32,NaN
69,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,CZ,2018,1.71,NaN
81,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,DE,2018,1.57,NaN
93,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,DK,2018,1.73,NaN
105,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,EE,2018,1.67,NaN
117,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,EL,2018,1.35,NaN
129,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,ES,2018,1.26,NaN
141,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,FI,2018,1.41,NaN
153,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,FR,2018,1.87,p
165,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,HR,2018,1.47,NaN
177,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,HU,2018,1.55,NaN
189,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,IE,2018,1.75,e
201,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,IS,2018,1.71,NaN
213,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,IT,2018,1.29,NaN
225,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,LT,2018,1.63,NaN
237,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,LU,2018,1.38,NaN
249,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,LV,2018,1.60,NaN
261,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,MK,2018,1.42,NaN
273,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,MT,2018,1.23,NaN
285,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,NL,2018,1.59,NaN
297,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,NO,2018,1.56,NaN
309,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,PL,2018,1.46,e
321,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,PT,2018,1.42,NaN
333,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,RO,2018,1.76,NaN
345,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,RS,2018,1.49,NaN
357,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,SE,2018,1.76,NaN
369,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,SI,2018,1.60,NaN
381,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,SK,2018,1.54,NaN
393,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,TR,2018,1.99,NaN
404,ESTAT:TPS00199(1.0),22/06/22 23:00:00,A,TOTFERRT,UK,2018,1.68,NaN

In [109]:
data9_18.rename(columns={'OBS_VALUE':'fertility_rate'}, inplace=True)
result = pd.merge(df9, #left df
                  data9_18[['geo', 'fertility_rate']], #right df with just the columns I want
                  on='geo', #column they have in common
                  how='left'
                 )
result

C:\Users\Windows\AppData\Local\Temp\ipykernel_10292\2243163009.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data9_18.rename(columns={'OBS_VALUE':'fertility_rate'}, inplace=True)

,geo,country,age_1_child,live_births_18y,live_births_30y,live_births_inmarriage,live_births_outmarriage,employed_women_2018,live_births_foreign,abortion_ratio,social_benefit,mean_income,fertility_rate
0,AL,Albania,26.4,422,1759,NaN,NaN,NaN,NaN,39.6,NaN,2339.0,NaN
1,AM,Armenia,24.8,410,1995,24692.0,11882.0,NaN,NaN,284.5,NaN,NaN,NaN
2,AT,Austria,29.5,303,6198,50241.0,35294.0,0.686,25597.0,20.9,993.78,27804.0,1.47
3,AZ,Azerbaijan,23.9,4366,5871,118266.0,20716.0,NaN,1657.0,260.0,NaN,NaN,NaN
4,BE,Belgium,29.0,445,10198,NaN,61941.0,0.607,29187.0,154.4,717.46,25196.0,1.62
5,BG,Bulgaria,26.2,1566,3998,25830.0,36367.0,0.630,398.0,376.8,113.35,4644.0,1.56
6,BY,Belarus,25.8,705,6533,81836.0,12206.0,NaN,NaN,247.8,NaN,NaN,NaN
7,CH,Switzerland,30.9,121,6652,65275.0,22576.0,0.757,35019.0,116.8,901.61,49607.0,1.52
8,CY,Cyprus,29.8,44,743,NaN,1752.0,0.642,2900.0,0.4,288.41,17582.0,1.32
9,CZ,Czech Republic,28.4,696,8879,58698.0,55338.0,0.676,7273.0,160.5,295.16,10098.0,1.71
10,DE,Germany,29.7,3994,60246,520627.0,266896.0,0.711,185192.0,128.2,1199.25,25882.0,1.57
11,DK,Denmark,29.5,120,4958,28140.0,33336.0,0.713,9858.0,231.0,1647.17,33759.0,1.73
12,EE,Estonia,27.7,75,1131,6562.0,7771.0,0.725,1349.0,264.5,357.58,11746.0,1.67
13,EL,Greece,30.4,565,5494,76818.0,9622.0,0.446,12313.0,234.7,287.17,9034.0,1.35
14,ES,Spain,31.0,2039,20565,195518.0,175309.0,0.569,75719.0,258.7,301.10,16937.0,1.26
15,FI,Finland,29.2,164,3468,26354.0,21223.0,0.697,4661.0,180.7,1096.41,27389.0,1.41
16,FR,France,28.7,4186,56924,300861.0,458338.0,0.633,136951.0,300.0,782.22,25379.0,1.87
17,GE,Georgia,25.5,911,2721,33760.0,17375.0,NaN,1433.0,444.5,NaN,NaN,NaN
18,HR,Croatia,28.8,245,2743,29298.0,7647.0,0.559,407.0,69.2,232.63,7371.0,1.47
19,HU,Hungary,28.2,1512,6025,52430.0,41034.0,0.666,1335.0,288.2,254.93,6123.0,1.55
20,IE,Ireland,30.5,249,3271,37920.0,23102.0,0.630,13883.0,47.7,879.18,28630.0,1.75
21,IS,Iceland,28.3,16,311,1249.0,2979.0,0.825,654.0,248.1,922.55,43769.0,1.71
22,IT,Italy,31.2,1516,28638,290414.0,149333.0,0.495,88619.0,172.9,304.47,19208.0,1.29
23,LT,Lithuania,27.8,237,2257,20715.0,7420.0,0.716,755.0,127.5,219.13,8415.0,1.63
24,LU,Luxembourg,30.9,21,464,3770.0,2476.0,0.634,3845.0,95.3,2823.35,40075.0,1.38
25,LV,Latvia,27.2,136,1411,11693.0,7621.0,0.700,1093.0,188.3,203.43,8738.0,1.60
26,MK,Macedonia,26.9,224,1458,18746.0,2587.0,0.417,776.0,184.3,30.91,2842.0,1.42
27,MT,Malta,29.2,50,354,NaN,NaN,0.615,1048.0,11.9,197.25,16749.0,1.23
28,NL,Netherlands,30.0,358,14200,81107.0,87418.0,0.746,20878.0,184.0,466.96,26848.0,1.59
29,NO,Norway,29.5,106,4577,24017.0,31103.0,0.726,12198.0,224.8,2113.16,42203.0,1.56
30,PL,Poland,27.4,2691,29092,285594.0,102584.0,0.603,5142.0,2.8,311.85,7337.0,1.46
31,PT,Portugal,29.8,539,5458,38395.0,48625.0,0.663,9389.0,171.5,217.12,11063.0,1.42
32,RO,Romania,26.7,4913,13976,140054.0,62690.0,0.504,2473.0,258.0,138.12,3825.0,1.76
33,RS,Serbia,28.1,671,4439,46845.0,17130.0,0.503,NaN,156.0,63.86,3040.0,1.49
34,SE,Sweden,29.3,303,9046,52656.0,63175.0,0.752,20209.0,308.9,1267.10,27703.0,1.76
35,SI,Slovenia,28.8,46,1705,8293.0,11292.0,0.671,2087.0,177.4,371.89,14127.0,1.60
36,SK,Slovakia,27.1,984,4100,34587.0,23052.0,0.655,692.0,156.8,224.52,7870.0,1.54
37,TR,Turkey,26.3,18696,72891,1200544.0,35710.0,0.329,20431.0,33.1,54.12,4914.0,1.99
38,UA,Ukraine,25.4,4608,20892,267065.0,68809.0,NaN,NaN,258.1,NaN,NaN,NaN
39,UK,United Kingdom,29.0,6146,49289,NaN,NaN,NaN,135681.0,299.0,777.35,25642.0,1.68
40,XK,Kosovo,27.1,213,1459,13669.0,8818.0,NaN,80.0,13.2,NaN,2635.0,NaN

In [110]:
compression_opts = dict(method='zip',
                        archive_name='df9.csv')  
result.to_csv('df9.zip', index=False, compression=compression_opts)

## Removing countries with too many NaN values

I remove the countreis that have too many NaN values because they could generate issues in the further analysis of data. Furthermore, the majority of this countries are not part of the European Union, which is the region where I would like to focus my research question.

In [111]:
result.drop([0,1,3,6,17,38,40], inplace=True)
result

,geo,country,age_1_child,live_births_18y,live_births_30y,live_births_inmarriage,live_births_outmarriage,employed_women_2018,live_births_foreign,abortion_ratio,social_benefit,mean_income,fertility_rate
2,AT,Austria,29.5,303,6198,50241.0,35294.0,0.686,25597.0,20.9,993.78,27804.0,1.47
4,BE,Belgium,29.0,445,10198,NaN,61941.0,0.607,29187.0,154.4,717.46,25196.0,1.62
5,BG,Bulgaria,26.2,1566,3998,25830.0,36367.0,0.630,398.0,376.8,113.35,4644.0,1.56
7,CH,Switzerland,30.9,121,6652,65275.0,22576.0,0.757,35019.0,116.8,901.61,49607.0,1.52
8,CY,Cyprus,29.8,44,743,NaN,1752.0,0.642,2900.0,0.4,288.41,17582.0,1.32
9,CZ,Czech Republic,28.4,696,8879,58698.0,55338.0,0.676,7273.0,160.5,295.16,10098.0,1.71
10,DE,Germany,29.7,3994,60246,520627.0,266896.0,0.711,185192.0,128.2,1199.25,25882.0,1.57
11,DK,Denmark,29.5,120,4958,28140.0,33336.0,0.713,9858.0,231.0,1647.17,33759.0,1.73
12,EE,Estonia,27.7,75,1131,6562.0,7771.0,0.725,1349.0,264.5,357.58,11746.0,1.67
13,EL,Greece,30.4,565,5494,76818.0,9622.0,0.446,12313.0,234.7,287.17,9034.0,1.35
14,ES,Spain,31.0,2039,20565,195518.0,175309.0,0.569,75719.0,258.7,301.10,16937.0,1.26
15,FI,Finland,29.2,164,3468,26354.0,21223.0,0.697,4661.0,180.7,1096.41,27389.0,1.41
16,FR,France,28.7,4186,56924,300861.0,458338.0,0.633,136951.0,300.0,782.22,25379.0,1.87
18,HR,Croatia,28.8,245,2743,29298.0,7647.0,0.559,407.0,69.2,232.63,7371.0,1.47
19,HU,Hungary,28.2,1512,6025,52430.0,41034.0,0.666,1335.0,288.2,254.93,6123.0,1.55
20,IE,Ireland,30.5,249,3271,37920.0,23102.0,0.630,13883.0,47.7,879.18,28630.0,1.75
21,IS,Iceland,28.3,16,311,1249.0,2979.0,0.825,654.0,248.1,922.55,43769.0,1.71
22,IT,Italy,31.2,1516,28638,290414.0,149333.0,0.495,88619.0,172.9,304.47,19208.0,1.29
23,LT,Lithuania,27.8,237,2257,20715.0,7420.0,0.716,755.0,127.5,219.13,8415.0,1.63
24,LU,Luxembourg,30.9,21,464,3770.0,2476.0,0.634,3845.0,95.3,2823.35,40075.0,1.38
25,LV,Latvia,27.2,136,1411,11693.0,7621.0,0.700,1093.0,188.3,203.43,8738.0,1.60
26,MK,Macedonia,26.9,224,1458,18746.0,2587.0,0.417,776.0,184.3,30.91,2842.0,1.42
27,MT,Malta,29.2,50,354,NaN,NaN,0.615,1048.0,11.9,197.25,16749.0,1.23
28,NL,Netherlands,30.0,358,14200,81107.0,87418.0,0.746,20878.0,184.0,466.96,26848.0,1.59
29,NO,Norway,29.5,106,4577,24017.0,31103.0,0.726,12198.0,224.8,2113.16,42203.0,1.56
30,PL,Poland,27.4,2691,29092,285594.0,102584.0,0.603,5142.0,2.8,311.85,7337.0,1.46
31,PT,Portugal,29.8,539,5458,38395.0,48625.0,0.663,9389.0,171.5,217.12,11063.0,1.42
32,RO,Romania,26.7,4913,13976,140054.0,62690.0,0.504,2473.0,258.0,138.12,3825.0,1.76
33,RS,Serbia,28.1,671,4439,46845.0,17130.0,0.503,NaN,156.0,63.86,3040.0,1.49
34,SE,Sweden,29.3,303,9046,52656.0,63175.0,0.752,20209.0,308.9,1267.10,27703.0,1.76
35,SI,Slovenia,28.8,46,1705,8293.0,11292.0,0.671,2087.0,177.4,371.89,14127.0,1.60
36,SK,Slovakia,27.1,984,4100,34587.0,23052.0,0.655,692.0,156.8,224.52,7870.0,1.54
37,TR,Turkey,26.3,18696,72891,1200544.0,35710.0,0.329,20431.0,33.1,54.12,4914.0,1.99
39,UK,United Kingdom,29.0,6146,49289,NaN,NaN,NaN,135681.0,299.0,777.35,25642.0,1.68

In [112]:
result = result.reset_index()
del result['index']

In [113]:
result

,geo,country,age_1_child,live_births_18y,live_births_30y,live_births_inmarriage,live_births_outmarriage,employed_women_2018,live_births_foreign,abortion_ratio,social_benefit,mean_income,fertility_rate
0,AT,Austria,29.5,303,6198,50241.0,35294.0,0.686,25597.0,20.9,993.78,27804.0,1.47
1,BE,Belgium,29.0,445,10198,NaN,61941.0,0.607,29187.0,154.4,717.46,25196.0,1.62
2,BG,Bulgaria,26.2,1566,3998,25830.0,36367.0,0.630,398.0,376.8,113.35,4644.0,1.56
3,CH,Switzerland,30.9,121,6652,65275.0,22576.0,0.757,35019.0,116.8,901.61,49607.0,1.52
4,CY,Cyprus,29.8,44,743,NaN,1752.0,0.642,2900.0,0.4,288.41,17582.0,1.32
5,CZ,Czech Republic,28.4,696,8879,58698.0,55338.0,0.676,7273.0,160.5,295.16,10098.0,1.71
6,DE,Germany,29.7,3994,60246,520627.0,266896.0,0.711,185192.0,128.2,1199.25,25882.0,1.57
7,DK,Denmark,29.5,120,4958,28140.0,33336.0,0.713,9858.0,231.0,1647.17,33759.0,1.73
8,EE,Estonia,27.7,75,1131,6562.0,7771.0,0.725,1349.0,264.5,357.58,11746.0,1.67
9,EL,Greece,30.4,565,5494,76818.0,9622.0,0.446,12313.0,234.7,287.17,9034.0,1.35
10,ES,Spain,31.0,2039,20565,195518.0,175309.0,0.569,75719.0,258.7,301.10,16937.0,1.26
11,FI,Finland,29.2,164,3468,26354.0,21223.0,0.697,4661.0,180.7,1096.41,27389.0,1.41
12,FR,France,28.7,4186,56924,300861.0,458338.0,0.633,136951.0,300.0,782.22,25379.0,1.87
13,HR,Croatia,28.8,245,2743,29298.0,7647.0,0.559,407.0,69.2,232.63,7371.0,1.47
14,HU,Hungary,28.2,1512,6025,52430.0,41034.0,0.666,1335.0,288.2,254.93,6123.0,1.55
15,IE,Ireland,30.5,249,3271,37920.0,23102.0,0.630,13883.0,47.7,879.18,28630.0,1.75
16,IS,Iceland,28.3,16,311,1249.0,2979.0,0.825,654.0,248.1,922.55,43769.0,1.71
17,IT,Italy,31.2,1516,28638,290414.0,149333.0,0.495,88619.0,172.9,304.47,19208.0,1.29
18,LT,Lithuania,27.8,237,2257,20715.0,7420.0,0.716,755.0,127.5,219.13,8415.0,1.63
19,LU,Luxembourg,30.9,21,464,3770.0,2476.0,0.634,3845.0,95.3,2823.35,40075.0,1.38
20,LV,Latvia,27.2,136,1411,11693.0,7621.0,0.700,1093.0,188.3,203.43,8738.0,1.60
21,MK,Macedonia,26.9,224,1458,18746.0,2587.0,0.417,776.0,184.3,30.91,2842.0,1.42
22,MT,Malta,29.2,50,354,NaN,NaN,0.615,1048.0,11.9,197.25,16749.0,1.23
23,NL,Netherlands,30.0,358,14200,81107.0,87418.0,0.746,20878.0,184.0,466.96,26848.0,1.59
24,NO,Norway,29.5,106,4577,24017.0,31103.0,0.726,12198.0,224.8,2113.16,42203.0,1.56
25,PL,Poland,27.4,2691,29092,285594.0,102584.0,0.603,5142.0,2.8,311.85,7337.0,1.46
26,PT,Portugal,29.8,539,5458,38395.0,48625.0,0.663,9389.0,171.5,217.12,11063.0,1.42
27,RO,Romania,26.7,4913,13976,140054.0,62690.0,0.504,2473.0,258.0,138.12,3825.0,1.76
28,RS,Serbia,28.1,671,4439,46845.0,17130.0,0.503,NaN,156.0,63.86,3040.0,1.49
29,SE,Sweden,29.3,303,9046,52656.0,63175.0,0.752,20209.0,308.9,1267.10,27703.0,1.76
30,SI,Slovenia,28.8,46,1705,8293.0,11292.0,0.671,2087.0,177.4,371.89,14127.0,1.60
31,SK,Slovakia,27.1,984,4100,34587.0,23052.0,0.655,692.0,156.8,224.52,7870.0,1.54
32,TR,Turkey,26.3,18696,72891,1200544.0,35710.0,0.329,20431.0,33.1,54.12,4914.0,1.99
33,UK,United Kingdom,29.0,6146,49289,NaN,NaN,NaN,135681.0,299.0,777.35,25642.0,1.68

In [114]:
# I try to find the values to sobstitute the remaining NaN values in live births inmarriage and outmarriage
# Belgium and Cyprus in_marriage live births can be obtained computing the difference between total live births (taken from Eurostat)
# and out_marriage livebirths
belgium_total_lb = 118319 #2018
result.at[1,'live_births_inmarriage'] = belgium_total_lb - result.at[1, 'live_births_outmarriage']

cyprus_total_lb = 9329 #2018
result.at[4,'live_births_inmarriage'] = cyprus_total_lb - result.at[4, 'live_births_outmarriage']

#For Malta I computed the mean of th live births inmarriage and outmarriage of the three years in which this data is available
#(2011, 2012, 2013 on Eurostat website)
result.at[22,'live_births_inmarriage'] = 3087
result.at[22,'live_births_outmarriage'] = 1022

#For United Kingdom I have used the data of 2017
result.at[33,'live_births_outmarriage'] = 363712
result.at[33,'live_births_inmarriage'] = 391042

In [115]:
result

,geo,country,age_1_child,live_births_18y,live_births_30y,live_births_inmarriage,live_births_outmarriage,employed_women_2018,live_births_foreign,abortion_ratio,social_benefit,mean_income,fertility_rate
0,AT,Austria,29.5,303,6198,50241.0,35294.0,0.686,25597.0,20.9,993.78,27804.0,1.47
1,BE,Belgium,29.0,445,10198,56378.0,61941.0,0.607,29187.0,154.4,717.46,25196.0,1.62
2,BG,Bulgaria,26.2,1566,3998,25830.0,36367.0,0.630,398.0,376.8,113.35,4644.0,1.56
3,CH,Switzerland,30.9,121,6652,65275.0,22576.0,0.757,35019.0,116.8,901.61,49607.0,1.52
4,CY,Cyprus,29.8,44,743,7577.0,1752.0,0.642,2900.0,0.4,288.41,17582.0,1.32
5,CZ,Czech Republic,28.4,696,8879,58698.0,55338.0,0.676,7273.0,160.5,295.16,10098.0,1.71
6,DE,Germany,29.7,3994,60246,520627.0,266896.0,0.711,185192.0,128.2,1199.25,25882.0,1.57
7,DK,Denmark,29.5,120,4958,28140.0,33336.0,0.713,9858.0,231.0,1647.17,33759.0,1.73
8,EE,Estonia,27.7,75,1131,6562.0,7771.0,0.725,1349.0,264.5,357.58,11746.0,1.67
9,EL,Greece,30.4,565,5494,76818.0,9622.0,0.446,12313.0,234.7,287.17,9034.0,1.35
10,ES,Spain,31.0,2039,20565,195518.0,175309.0,0.569,75719.0,258.7,301.10,16937.0,1.26
11,FI,Finland,29.2,164,3468,26354.0,21223.0,0.697,4661.0,180.7,1096.41,27389.0,1.41
12,FR,France,28.7,4186,56924,300861.0,458338.0,0.633,136951.0,300.0,782.22,25379.0,1.87
13,HR,Croatia,28.8,245,2743,29298.0,7647.0,0.559,407.0,69.2,232.63,7371.0,1.47
14,HU,Hungary,28.2,1512,6025,52430.0,41034.0,0.666,1335.0,288.2,254.93,6123.0,1.55
15,IE,Ireland,30.5,249,3271,37920.0,23102.0,0.630,13883.0,47.7,879.18,28630.0,1.75
16,IS,Iceland,28.3,16,311,1249.0,2979.0,0.825,654.0,248.1,922.55,43769.0,1.71
17,IT,Italy,31.2,1516,28638,290414.0,149333.0,0.495,88619.0,172.9,304.47,19208.0,1.29
18,LT,Lithuania,27.8,237,2257,20715.0,7420.0,0.716,755.0,127.5,219.13,8415.0,1.63
19,LU,Luxembourg,30.9,21,464,3770.0,2476.0,0.634,3845.0,95.3,2823.35,40075.0,1.38
20,LV,Latvia,27.2,136,1411,11693.0,7621.0,0.700,1093.0,188.3,203.43,8738.0,1.60
21,MK,Macedonia,26.9,224,1458,18746.0,2587.0,0.417,776.0,184.3,30.91,2842.0,1.42
22,MT,Malta,29.2,50,354,3087.0,1022.0,0.615,1048.0,11.9,197.25,16749.0,1.23
23,NL,Netherlands,30.0,358,14200,81107.0,87418.0,0.746,20878.0,184.0,466.96,26848.0,1.59
24,NO,Norway,29.5,106,4577,24017.0,31103.0,0.726,12198.0,224.8,2113.16,42203.0,1.56
25,PL,Poland,27.4,2691,29092,285594.0,102584.0,0.603,5142.0,2.8,311.85,7337.0,1.46
26,PT,Portugal,29.8,539,5458,38395.0,48625.0,0.663,9389.0,171.5,217.12,11063.0,1.42
27,RO,Romania,26.7,4913,13976,140054.0,62690.0,0.504,2473.0,258.0,138.12,3825.0,1.76
28,RS,Serbia,28.1,671,4439,46845.0,17130.0,0.503,NaN,156.0,63.86,3040.0,1.49
29,SE,Sweden,29.3,303,9046,52656.0,63175.0,0.752,20209.0,308.9,1267.10,27703.0,1.76
30,SI,Slovenia,28.8,46,1705,8293.0,11292.0,0.671,2087.0,177.4,371.89,14127.0,1.60
31,SK,Slovakia,27.1,984,4100,34587.0,23052.0,0.655,692.0,156.8,224.52,7870.0,1.54
32,TR,Turkey,26.3,18696,72891,1200544.0,35710.0,0.329,20431.0,33.1,54.12,4914.0,1.99
33,UK,United Kingdom,29.0,6146,49289,391042.0,363712.0,NaN,135681.0,299.0,777.35,25642.0,1.68

In [116]:
#The percentage of employed women in the UK has been taken from a publication of the English government at the website: https://www.ons.gov.uk/economy/nationalaccounts/uksectoraccounts/compendium/economicreview/april2019/longtermtrendsinukemployment1861to2018
result.at[33,'employed_women_2018'] = 0.742

In [117]:
result

,geo,country,age_1_child,live_births_18y,live_births_30y,live_births_inmarriage,live_births_outmarriage,employed_women_2018,live_births_foreign,abortion_ratio,social_benefit,mean_income,fertility_rate
0,AT,Austria,29.5,303,6198,50241.0,35294.0,0.686,25597.0,20.9,993.78,27804.0,1.47
1,BE,Belgium,29.0,445,10198,56378.0,61941.0,0.607,29187.0,154.4,717.46,25196.0,1.62
2,BG,Bulgaria,26.2,1566,3998,25830.0,36367.0,0.630,398.0,376.8,113.35,4644.0,1.56
3,CH,Switzerland,30.9,121,6652,65275.0,22576.0,0.757,35019.0,116.8,901.61,49607.0,1.52
4,CY,Cyprus,29.8,44,743,7577.0,1752.0,0.642,2900.0,0.4,288.41,17582.0,1.32
5,CZ,Czech Republic,28.4,696,8879,58698.0,55338.0,0.676,7273.0,160.5,295.16,10098.0,1.71
6,DE,Germany,29.7,3994,60246,520627.0,266896.0,0.711,185192.0,128.2,1199.25,25882.0,1.57
7,DK,Denmark,29.5,120,4958,28140.0,33336.0,0.713,9858.0,231.0,1647.17,33759.0,1.73
8,EE,Estonia,27.7,75,1131,6562.0,7771.0,0.725,1349.0,264.5,357.58,11746.0,1.67
9,EL,Greece,30.4,565,5494,76818.0,9622.0,0.446,12313.0,234.7,287.17,9034.0,1.35
10,ES,Spain,31.0,2039,20565,195518.0,175309.0,0.569,75719.0,258.7,301.10,16937.0,1.26
11,FI,Finland,29.2,164,3468,26354.0,21223.0,0.697,4661.0,180.7,1096.41,27389.0,1.41
12,FR,France,28.7,4186,56924,300861.0,458338.0,0.633,136951.0,300.0,782.22,25379.0,1.87
13,HR,Croatia,28.8,245,2743,29298.0,7647.0,0.559,407.0,69.2,232.63,7371.0,1.47
14,HU,Hungary,28.2,1512,6025,52430.0,41034.0,0.666,1335.0,288.2,254.93,6123.0,1.55
15,IE,Ireland,30.5,249,3271,37920.0,23102.0,0.630,13883.0,47.7,879.18,28630.0,1.75
16,IS,Iceland,28.3,16,311,1249.0,2979.0,0.825,654.0,248.1,922.55,43769.0,1.71
17,IT,Italy,31.2,1516,28638,290414.0,149333.0,0.495,88619.0,172.9,304.47,19208.0,1.29
18,LT,Lithuania,27.8,237,2257,20715.0,7420.0,0.716,755.0,127.5,219.13,8415.0,1.63
19,LU,Luxembourg,30.9,21,464,3770.0,2476.0,0.634,3845.0,95.3,2823.35,40075.0,1.38
20,LV,Latvia,27.2,136,1411,11693.0,7621.0,0.700,1093.0,188.3,203.43,8738.0,1.60
21,MK,Macedonia,26.9,224,1458,18746.0,2587.0,0.417,776.0,184.3,30.91,2842.0,1.42
22,MT,Malta,29.2,50,354,3087.0,1022.0,0.615,1048.0,11.9,197.25,16749.0,1.23
23,NL,Netherlands,30.0,358,14200,81107.0,87418.0,0.746,20878.0,184.0,466.96,26848.0,1.59
24,NO,Norway,29.5,106,4577,24017.0,31103.0,0.726,12198.0,224.8,2113.16,42203.0,1.56
25,PL,Poland,27.4,2691,29092,285594.0,102584.0,0.603,5142.0,2.8,311.85,7337.0,1.46
26,PT,Portugal,29.8,539,5458,38395.0,48625.0,0.663,9389.0,171.5,217.12,11063.0,1.42
27,RO,Romania,26.7,4913,13976,140054.0,62690.0,0.504,2473.0,258.0,138.12,3825.0,1.76
28,RS,Serbia,28.1,671,4439,46845.0,17130.0,0.503,NaN,156.0,63.86,3040.0,1.49
29,SE,Sweden,29.3,303,9046,52656.0,63175.0,0.752,20209.0,308.9,1267.10,27703.0,1.76
30,SI,Slovenia,28.8,46,1705,8293.0,11292.0,0.671,2087.0,177.4,371.89,14127.0,1.60
31,SK,Slovakia,27.1,984,4100,34587.0,23052.0,0.655,692.0,156.8,224.52,7870.0,1.54
32,TR,Turkey,26.3,18696,72891,1200544.0,35710.0,0.329,20431.0,33.1,54.12,4914.0,1.99
33,UK,United Kingdom,29.0,6146,49289,391042.0,363712.0,0.742,135681.0,299.0,777.35,25642.0,1.68

In [118]:
#For Serbia number of live births from mothers with a foreign citizenship I have used the data of 2020 because the data of
#2018 was not available on Eurostat
result.at[28,'live_births_foreign'] = 613

In [119]:
result.isnull().values.any()

False

Since the dataframe obtained has no NaN value and it contains all the variables necessary for the analysis, I save it as a csv file.

In [120]:
compression_opts = dict(method='zip',
                        archive_name='final_df.csv')  
result.to_csv('final_df.zip', index=False, compression=compression_opts)

## Final df with live births per inhabitant

Since every country has a different number of citizens, to make a proper comparison it could be useful dividing the number of live births by the inhabitants.

In [2]:
df9 = pd.read_csv("final_df.csv")
df10 = df9.copy()
df9.head()

,geo,country,age_1_child,live_births_18y,live_births_30y,live_births_inmarriage,live_births_outmarriage,employed_women_2018,live_births_foreign,abortion_ratio,social_benefit,mean_income,fertility_rate
0,AT,Austria,29.5,303,6198,50241.0,35294.0,0.686,25597.0,20.9,993.78,27804.0,1.47
1,BE,Belgium,29.0,445,10198,56378.0,61941.0,0.607,29187.0,154.4,717.46,25196.0,1.62
2,BG,Bulgaria,26.2,1566,3998,25830.0,36367.0,0.630,398.0,376.8,113.35,4644.0,1.56
3,CH,Switzerland,30.9,121,6652,65275.0,22576.0,0.757,35019.0,116.8,901.61,49607.0,1.52
4,CY,Cyprus,29.8,44,743,7577.0,1752.0,0.642,2900.0,0.4,288.41,17582.0,1.32

In [3]:
#I import the dataset with the population of every country
data10 = pd.read_csv("population.csv")
data10.head()

,DATAFLOW,LAST UPDATE,freq,unit,age,sex,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,AD,2012,78115.0,NaN
1,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,AD,2013,76246.0,NaN
2,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,AD,2019,76177.0,NaN
3,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,AL,2012,2903008.0,NaN
4,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,AL,2013,2897770.0,NaN

In [4]:
data10_18 = data10[(data10.age == 'TOTAL') & (data10.sex == 'T') & (data10.TIME_PERIOD == 2018)]
data10_18

,DATAFLOW,LAST UPDATE,freq,unit,age,sex,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
9,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,AL,2018,2870324.0,NaN
17,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,AM,2018,2972732.0,NaN
27,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,AT,2018,8822267.0,NaN
37,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,AZ,2018,9898085.0,NaN
48,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,BE,2018,11398589.0,NaN
58,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,BG,2018,7050034.0,NaN
68,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,BY,2018,9491823.0,NaN
76,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,CH,2018,8484130.0,NaN
86,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,CY,2018,864236.0,NaN
96,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,CZ,2018,10610055.0,NaN
106,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,DE,2018,82792351.0,NaN
116,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,DE_TOT,2018,82792351.0,NaN
126,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,DK,2018,5781190.0,NaN
136,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,EA18,2018,338444103.0,p
146,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,EA19,2018,341253004.0,p
156,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,EE,2018,1319133.0,NaN
166,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,EEA30_2007,2018,514058823.0,p
175,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,EEA31,2018,518164316.0,p
184,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,EFTA,2018,14166313.0,NaN
194,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,EL,2018,10741165.0,NaN
204,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,ES,2018,46658447.0,NaN
214,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,EU27_2007,2018,508376640.0,p
223,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,EU27_2020,2018,446208557.0,p
233,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,EU28,2018,512482133.0,p
241,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,FI,2018,5513130.0,NaN
251,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,FR,2018,67026224.0,p
262,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,GE,2018,3729633.0,NaN
272,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,HR,2018,4105493.0,NaN
282,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,HU,2018,9778371.0,NaN
292,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,IE,2018,4830392.0,NaN
302,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,IS,2018,348450.0,NaN
312,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,IT,2018,60483973.0,NaN
322,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,LI,2018,38114.0,NaN
332,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,LT,2018,2808901.0,NaN
342,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,LU,2018,602005.0,NaN
352,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,LV,2018,1934379.0,NaN
368,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,ME,2018,622359.0,NaN
378,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,MK,2018,2075301.0,NaN
388,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,MT,2018,475701.0,NaN
398,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,NL,2018,17181084.0,NaN
408,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,NO,2018,5295619.0,NaN
418,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,PL,2018,37976687.0,NaN
428,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,PT,2018,10291027.0,NaN
438,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,RO,2018,19533481.0,NaN
448,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,RS,2018,7001444.0,NaN
460,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,SE,2018,10120242.0,NaN
470,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,SI,2018,2066880.0,NaN
480,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,SK,2018,5443120.0,NaN
486,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,SM,2018,34453.0,NaN
493,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,TR,2018,80810525.0,NaN
503,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,UA,2018,42216766.0,NaN
513,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,UK,2018,66273576.0,NaN
519,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,XK,2018,1798506.0,NaN

In [5]:
data10_18.rename(columns={'OBS_VALUE':'population'}, inplace=True)
data10_18 = data10_18.astype({"population": int})
data10_18

C:\Users\Windows\AppData\Local\Temp\ipykernel_17200\1455253370.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data10_18.rename(columns={'OBS_VALUE':'population'}, inplace=True)

,DATAFLOW,LAST UPDATE,freq,unit,age,sex,geo,TIME_PERIOD,population,OBS_FLAG
9,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,AL,2018,2870324,NaN
17,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,AM,2018,2972732,NaN
27,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,AT,2018,8822267,NaN
37,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,AZ,2018,9898085,NaN
48,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,BE,2018,11398589,NaN
58,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,BG,2018,7050034,NaN
68,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,BY,2018,9491823,NaN
76,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,CH,2018,8484130,NaN
86,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,CY,2018,864236,NaN
96,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,CZ,2018,10610055,NaN
106,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,DE,2018,82792351,NaN
116,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,DE_TOT,2018,82792351,NaN
126,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,DK,2018,5781190,NaN
136,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,EA18,2018,338444103,p
146,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,EA19,2018,341253004,p
156,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,EE,2018,1319133,NaN
166,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,EEA30_2007,2018,514058823,p
175,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,EEA31,2018,518164316,p
184,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,EFTA,2018,14166313,NaN
194,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,EL,2018,10741165,NaN
204,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,ES,2018,46658447,NaN
214,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,EU27_2007,2018,508376640,p
223,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,EU27_2020,2018,446208557,p
233,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,EU28,2018,512482133,p
241,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,FI,2018,5513130,NaN
251,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,FR,2018,67026224,p
262,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,GE,2018,3729633,NaN
272,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,HR,2018,4105493,NaN
282,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,HU,2018,9778371,NaN
292,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,IE,2018,4830392,NaN
302,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,IS,2018,348450,NaN
312,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,IT,2018,60483973,NaN
322,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,LI,2018,38114,NaN
332,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,LT,2018,2808901,NaN
342,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,LU,2018,602005,NaN
352,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,LV,2018,1934379,NaN
368,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,ME,2018,622359,NaN
378,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,MK,2018,2075301,NaN
388,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,MT,2018,475701,NaN
398,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,NL,2018,17181084,NaN
408,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,NO,2018,5295619,NaN
418,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,PL,2018,37976687,NaN
428,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,PT,2018,10291027,NaN
438,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,RO,2018,19533481,NaN
448,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,RS,2018,7001444,NaN
460,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,SE,2018,10120242,NaN
470,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,SI,2018,2066880,NaN
480,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,SK,2018,5443120,NaN
486,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,SM,2018,34453,NaN
493,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,TR,2018,80810525,NaN
503,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,UA,2018,42216766,NaN
513,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,UK,2018,66273576,NaN
519,ESTAT:DEMO_PJAN$DEFAULTVIEW(1.0),22/06/22 23:00:00,A,NR,TOTAL,T,XK,2018,1798506,NaN

In [6]:
result = pd.merge(df10, #left df
               data10_18[['geo', 'population']], #right df with just the columns I want
               on='geo', #column they have in common
               how='left'
              )
result

,geo,country,age_1_child,live_births_18y,live_births_30y,live_births_inmarriage,live_births_outmarriage,employed_women_2018,live_births_foreign,abortion_ratio,social_benefit,mean_income,fertility_rate,population
0,AT,Austria,29.5,303,6198,50241.0,35294.0,0.686,25597.0,20.9,993.78,27804.0,1.47,8822267
1,BE,Belgium,29.0,445,10198,56378.0,61941.0,0.607,29187.0,154.4,717.46,25196.0,1.62,11398589
2,BG,Bulgaria,26.2,1566,3998,25830.0,36367.0,0.630,398.0,376.8,113.35,4644.0,1.56,7050034
3,CH,Switzerland,30.9,121,6652,65275.0,22576.0,0.757,35019.0,116.8,901.61,49607.0,1.52,8484130
4,CY,Cyprus,29.8,44,743,7577.0,1752.0,0.642,2900.0,0.4,288.41,17582.0,1.32,864236
5,CZ,Czech Republic,28.4,696,8879,58698.0,55338.0,0.676,7273.0,160.5,295.16,10098.0,1.71,10610055
6,DE,Germany,29.7,3994,60246,520627.0,266896.0,0.711,185192.0,128.2,1199.25,25882.0,1.57,82792351
7,DK,Denmark,29.5,120,4958,28140.0,33336.0,0.713,9858.0,231.0,1647.17,33759.0,1.73,5781190
8,EE,Estonia,27.7,75,1131,6562.0,7771.0,0.725,1349.0,264.5,357.58,11746.0,1.67,1319133
9,EL,Greece,30.4,565,5494,76818.0,9622.0,0.446,12313.0,234.7,287.17,9034.0,1.35,10741165
10,ES,Spain,31.0,2039,20565,195518.0,175309.0,0.569,75719.0,258.7,301.10,16937.0,1.26,46658447
11,FI,Finland,29.2,164,3468,26354.0,21223.0,0.697,4661.0,180.7,1096.41,27389.0,1.41,5513130
12,FR,France,28.7,4186,56924,300861.0,458338.0,0.633,136951.0,300.0,782.22,25379.0,1.87,67026224
13,HR,Croatia,28.8,245,2743,29298.0,7647.0,0.559,407.0,69.2,232.63,7371.0,1.47,4105493
14,HU,Hungary,28.2,1512,6025,52430.0,41034.0,0.666,1335.0,288.2,254.93,6123.0,1.55,9778371
15,IE,Ireland,30.5,249,3271,37920.0,23102.0,0.630,13883.0,47.7,879.18,28630.0,1.75,4830392
16,IS,Iceland,28.3,16,311,1249.0,2979.0,0.825,654.0,248.1,922.55,43769.0,1.71,348450
17,IT,Italy,31.2,1516,28638,290414.0,149333.0,0.495,88619.0,172.9,304.47,19208.0,1.29,60483973
18,LT,Lithuania,27.8,237,2257,20715.0,7420.0,0.716,755.0,127.5,219.13,8415.0,1.63,2808901
19,LU,Luxembourg,30.9,21,464,3770.0,2476.0,0.634,3845.0,95.3,2823.35,40075.0,1.38,602005
20,LV,Latvia,27.2,136,1411,11693.0,7621.0,0.700,1093.0,188.3,203.43,8738.0,1.60,1934379
21,MK,Macedonia,26.9,224,1458,18746.0,2587.0,0.417,776.0,184.3,30.91,2842.0,1.42,2075301
22,MT,Malta,29.2,50,354,3087.0,1022.0,0.615,1048.0,11.9,197.25,16749.0,1.23,475701
23,NL,Netherlands,30.0,358,14200,81107.0,87418.0,0.746,20878.0,184.0,466.96,26848.0,1.59,17181084
24,NO,Norway,29.5,106,4577,24017.0,31103.0,0.726,12198.0,224.8,2113.16,42203.0,1.56,5295619
25,PL,Poland,27.4,2691,29092,285594.0,102584.0,0.603,5142.0,2.8,311.85,7337.0,1.46,37976687
26,PT,Portugal,29.8,539,5458,38395.0,48625.0,0.663,9389.0,171.5,217.12,11063.0,1.42,10291027
27,RO,Romania,26.7,4913,13976,140054.0,62690.0,0.504,2473.0,258.0,138.12,3825.0,1.76,19533481
28,RS,Serbia,28.1,671,4439,46845.0,17130.0,0.503,613.0,156.0,63.86,3040.0,1.49,7001444
29,SE,Sweden,29.3,303,9046,52656.0,63175.0,0.752,20209.0,308.9,1267.10,27703.0,1.76,10120242
30,SI,Slovenia,28.8,46,1705,8293.0,11292.0,0.671,2087.0,177.4,371.89,14127.0,1.60,2066880
31,SK,Slovakia,27.1,984,4100,34587.0,23052.0,0.655,692.0,156.8,224.52,7870.0,1.54,5443120
32,TR,Turkey,26.3,18696,72891,1200544.0,35710.0,0.329,20431.0,33.1,54.12,4914.0,1.99,80810525
33,UK,United Kingdom,29.0,6146,49289,391042.0,363712.0,0.742,135681.0,299.0,777.35,25642.0,1.68,66273576

In [8]:
result['lb_18y_procapite'] = result['live_births_18y'].div(result['population'])
result['lb_30y_procapite'] = result['live_births_30y'].div(result['population'])
result['lb_inmar_procapite'] = result['live_births_inmarriage'].div(result['population'])
result['lb_outmar_procapite'] = result['live_births_outmarriage'].div(result['population'])
result['lb_foreign_procapite'] = result['live_births_foreign'].div(result['population'])

result

,geo,country,age_1_child,live_births_18y,live_births_30y,live_births_inmarriage,live_births_outmarriage,employed_women_2018,live_births_foreign,abortion_ratio,social_benefit,mean_income,fertility_rate,population,lb_18y_procapite,lb_30y_procapite,lb_inmar_procapite,lb_outmar_procapite,lb_foreign_procapite
0,AT,Austria,29.5,303,6198,50241.0,35294.0,0.686,25597.0,20.9,993.78,27804.0,1.47,8822267,0.000034,0.000703,0.005695,0.004001,0.002901
1,BE,Belgium,29.0,445,10198,56378.0,61941.0,0.607,29187.0,154.4,717.46,25196.0,1.62,11398589,0.000039,0.000895,0.004946,0.005434,0.002561
2,BG,Bulgaria,26.2,1566,3998,25830.0,36367.0,0.630,398.0,376.8,113.35,4644.0,1.56,7050034,0.000222,0.000567,0.003664,0.005158,0.000056
3,CH,Switzerland,30.9,121,6652,65275.0,22576.0,0.757,35019.0,116.8,901.61,49607.0,1.52,8484130,0.000014,0.000784,0.007694,0.002661,0.004128
4,CY,Cyprus,29.8,44,743,7577.0,1752.0,0.642,2900.0,0.4,288.41,17582.0,1.32,864236,0.000051,0.000860,0.008767,0.002027,0.003356
5,CZ,Czech Republic,28.4,696,8879,58698.0,55338.0,0.676,7273.0,160.5,295.16,10098.0,1.71,10610055,0.000066,0.000837,0.005532,0.005216,0.000685
6,DE,Germany,29.7,3994,60246,520627.0,266896.0,0.711,185192.0,128.2,1199.25,25882.0,1.57,82792351,0.000048,0.000728,0.006288,0.003224,0.002237
7,DK,Denmark,29.5,120,4958,28140.0,33336.0,0.713,9858.0,231.0,1647.17,33759.0,1.73,5781190,0.000021,0.000858,0.004868,0.005766,0.001705
8,EE,Estonia,27.7,75,1131,6562.0,7771.0,0.725,1349.0,264.5,357.58,11746.0,1.67,1319133,0.000057,0.000857,0.004974,0.005891,0.001023
9,EL,Greece,30.4,565,5494,76818.0,9622.0,0.446,12313.0,234.7,287.17,9034.0,1.35,10741165,0.000053,0.000511,0.007152,0.000896,0.001146
10,ES,Spain,31.0,2039,20565,195518.0,175309.0,0.569,75719.0,258.7,301.10,16937.0,1.26,46658447,0.000044,0.000441,0.004190,0.003757,0.001623
11,FI,Finland,29.2,164,3468,26354.0,21223.0,0.697,4661.0,180.7,1096.41,27389.0,1.41,5513130,0.000030,0.000629,0.004780,0.003850,0.000845
12,FR,France,28.7,4186,56924,300861.0,458338.0,0.633,136951.0,300.0,782.22,25379.0,1.87,67026224,0.000062,0.000849,0.004489,0.006838,0.002043
13,HR,Croatia,28.8,245,2743,29298.0,7647.0,0.559,407.0,69.2,232.63,7371.0,1.47,4105493,0.000060,0.000668,0.007136,0.001863,0.000099
14,HU,Hungary,28.2,1512,6025,52430.0,41034.0,0.666,1335.0,288.2,254.93,6123.0,1.55,9778371,0.000155,0.000616,0.005362,0.004196,0.000137
15,IE,Ireland,30.5,249,3271,37920.0,23102.0,0.630,13883.0,47.7,879.18,28630.0,1.75,4830392,0.000052,0.000677,0.007850,0.004783,0.002874
16,IS,Iceland,28.3,16,311,1249.0,2979.0,0.825,654.0,248.1,922.55,43769.0,1.71,348450,0.000046,0.000893,0.003584,0.008549,0.001877
17,IT,Italy,31.2,1516,28638,290414.0,149333.0,0.495,88619.0,172.9,304.47,19208.0,1.29,60483973,0.000025,0.000473,0.004802,0.002469,0.001465
18,LT,Lithuania,27.8,237,2257,20715.0,7420.0,0.716,755.0,127.5,219.13,8415.0,1.63,2808901,0.000084,0.000804,0.007375,0.002642,0.000269
19,LU,Luxembourg,30.9,21,464,3770.0,2476.0,0.634,3845.0,95.3,2823.35,40075.0,1.38,602005,0.000035,0.000771,0.006262,0.004113,0.006387
20,LV,Latvia,27.2,136,1411,11693.0,7621.0,0.700,1093.0,188.3,203.43,8738.0,1.60,1934379,0.000070,0.000729,0.006045,0.003940,0.000565
21,MK,Macedonia,26.9,224,1458,18746.0,2587.0,0.417,776.0,184.3,30.91,2842.0,1.42,2075301,0.000108,0.000703,0.009033,0.001247,0.000374
22,MT,Malta,29.2,50,354,3087.0,1022.0,0.615,1048.0,11.9,197.25,16749.0,1.23,475701,0.000105,0.000744,0.006489,0.002148,0.002203
23,NL,Netherlands,30.0,358,14200,81107.0,87418.0,0.746,20878.0,184.0,466.96,26848.0,1.59,17181084,0.000021,0.000826,0.004721,0.005088,0.001215
24,NO,Norway,29.5,106,4577,24017.0,31103.0,0.726,12198.0,224.8,2113.16,42203.0,1.56,5295619,0.000020,0.000864,0.004535,0.005873,0.002303
25,PL,Poland,27.4,2691,29092,285594.0,102584.0,0.603,5142.0,2.8,311.85,7337.0,1.46,37976687,0.000071,0.000766,0.007520,0.002701,0.000135
26,PT,Portugal,29.8,539,5458,38395.0,48625.0,0.663,9389.0,171.5,217.12,11063.0,1.42,10291027,0.000052,0.000530,0.003731,0.004725,0.000912
27,RO,Romania,26.7,4913,13976,140054.0,62690.0,0.504,2473.0,258.0,138.12,3825.0,1.76,19533481,0.000252,0.000715,0.007170,0.003209,0.000127
28,RS,Serbia,28.1,671,4439,46845.0,17130.0,0.503,613.0,156.0,63.86,3040.0,1.49,7001444,0.000096,0.000634,0.006691,0.002447,0.000088
29,SE,Sweden,29.3,303,9046,52656.0,63175.0,0.752,20209.0,308.9,1267.10,27703.0,1.76,10120242,0.000030,0.000894,0.005203,0.006242,0.001997
30,SI,Slovenia,28.8,46,1705,8293.0,11292.0,0.671,2087.0,177.4,371.89,14127.0,1.60,2066880,0.000022,0.000825,0.004012,0.005463,0.001010
31,SK,Slovakia,27.1,984,4100,34587.0,23052.0,0.655,692.0,156.8,224.52,7870.0,1.54,5443120,0.000181,0.000753,0.006354,0.004235,0.000127
32,TR,Turkey,26.3,18696,72891,1200544.0,35710.0,0.329,20431.0,33.1,54.12,4914.0,1.99,80810525,0.000231,0.000902,0.014856,0.000442,0.000253
33,UK,United Kingdom,29.0,6146,49289,391042.0,363712.0,0.742,135681.0,299.0,777.35,25642.0,1.68,66273576,0.000093,0.000744,0.005900,0.005488,0.002047

In [9]:
#I discard the unwanted columns
result.drop(['live_births_18y','live_births_30y','live_births_inmarriage','live_births_outmarriage','live_births_foreign'], axis=1, inplace=True)
result

,geo,country,age_1_child,employed_women_2018,abortion_ratio,social_benefit,mean_income,fertility_rate,population,lb_18y_procapite,lb_30y_procapite,lb_inmar_procapite,lb_outmar_procapite,lb_foreign_procapite
0,AT,Austria,29.5,0.686,20.9,993.78,27804.0,1.47,8822267,0.000034,0.000703,0.005695,0.004001,0.002901
1,BE,Belgium,29.0,0.607,154.4,717.46,25196.0,1.62,11398589,0.000039,0.000895,0.004946,0.005434,0.002561
2,BG,Bulgaria,26.2,0.630,376.8,113.35,4644.0,1.56,7050034,0.000222,0.000567,0.003664,0.005158,0.000056
3,CH,Switzerland,30.9,0.757,116.8,901.61,49607.0,1.52,8484130,0.000014,0.000784,0.007694,0.002661,0.004128
4,CY,Cyprus,29.8,0.642,0.4,288.41,17582.0,1.32,864236,0.000051,0.000860,0.008767,0.002027,0.003356
5,CZ,Czech Republic,28.4,0.676,160.5,295.16,10098.0,1.71,10610055,0.000066,0.000837,0.005532,0.005216,0.000685
6,DE,Germany,29.7,0.711,128.2,1199.25,25882.0,1.57,82792351,0.000048,0.000728,0.006288,0.003224,0.002237
7,DK,Denmark,29.5,0.713,231.0,1647.17,33759.0,1.73,5781190,0.000021,0.000858,0.004868,0.005766,0.001705
8,EE,Estonia,27.7,0.725,264.5,357.58,11746.0,1.67,1319133,0.000057,0.000857,0.004974,0.005891,0.001023
9,EL,Greece,30.4,0.446,234.7,287.17,9034.0,1.35,10741165,0.000053,0.000511,0.007152,0.000896,0.001146
10,ES,Spain,31.0,0.569,258.7,301.10,16937.0,1.26,46658447,0.000044,0.000441,0.004190,0.003757,0.001623
11,FI,Finland,29.2,0.697,180.7,1096.41,27389.0,1.41,5513130,0.000030,0.000629,0.004780,0.003850,0.000845
12,FR,France,28.7,0.633,300.0,782.22,25379.0,1.87,67026224,0.000062,0.000849,0.004489,0.006838,0.002043
13,HR,Croatia,28.8,0.559,69.2,232.63,7371.0,1.47,4105493,0.000060,0.000668,0.007136,0.001863,0.000099
14,HU,Hungary,28.2,0.666,288.2,254.93,6123.0,1.55,9778371,0.000155,0.000616,0.005362,0.004196,0.000137
15,IE,Ireland,30.5,0.630,47.7,879.18,28630.0,1.75,4830392,0.000052,0.000677,0.007850,0.004783,0.002874
16,IS,Iceland,28.3,0.825,248.1,922.55,43769.0,1.71,348450,0.000046,0.000893,0.003584,0.008549,0.001877
17,IT,Italy,31.2,0.495,172.9,304.47,19208.0,1.29,60483973,0.000025,0.000473,0.004802,0.002469,0.001465
18,LT,Lithuania,27.8,0.716,127.5,219.13,8415.0,1.63,2808901,0.000084,0.000804,0.007375,0.002642,0.000269
19,LU,Luxembourg,30.9,0.634,95.3,2823.35,40075.0,1.38,602005,0.000035,0.000771,0.006262,0.004113,0.006387
20,LV,Latvia,27.2,0.700,188.3,203.43,8738.0,1.60,1934379,0.000070,0.000729,0.006045,0.003940,0.000565
21,MK,Macedonia,26.9,0.417,184.3,30.91,2842.0,1.42,2075301,0.000108,0.000703,0.009033,0.001247,0.000374
22,MT,Malta,29.2,0.615,11.9,197.25,16749.0,1.23,475701,0.000105,0.000744,0.006489,0.002148,0.002203
23,NL,Netherlands,30.0,0.746,184.0,466.96,26848.0,1.59,17181084,0.000021,0.000826,0.004721,0.005088,0.001215
24,NO,Norway,29.5,0.726,224.8,2113.16,42203.0,1.56,5295619,0.000020,0.000864,0.004535,0.005873,0.002303
25,PL,Poland,27.4,0.603,2.8,311.85,7337.0,1.46,37976687,0.000071,0.000766,0.007520,0.002701,0.000135
26,PT,Portugal,29.8,0.663,171.5,217.12,11063.0,1.42,10291027,0.000052,0.000530,0.003731,0.004725,0.000912
27,RO,Romania,26.7,0.504,258.0,138.12,3825.0,1.76,19533481,0.000252,0.000715,0.007170,0.003209,0.000127
28,RS,Serbia,28.1,0.503,156.0,63.86,3040.0,1.49,7001444,0.000096,0.000634,0.006691,0.002447,0.000088
29,SE,Sweden,29.3,0.752,308.9,1267.10,27703.0,1.76,10120242,0.000030,0.000894,0.005203,0.006242,0.001997
30,SI,Slovenia,28.8,0.671,177.4,371.89,14127.0,1.60,2066880,0.000022,0.000825,0.004012,0.005463,0.001010
31,SK,Slovakia,27.1,0.655,156.8,224.52,7870.0,1.54,5443120,0.000181,0.000753,0.006354,0.004235,0.000127
32,TR,Turkey,26.3,0.329,33.1,54.12,4914.0,1.99,80810525,0.000231,0.000902,0.014856,0.000442,0.000253
33,UK,United Kingdom,29.0,0.742,299.0,777.35,25642.0,1.68,66273576,0.000093,0.000744,0.005900,0.005488,0.002047

In [10]:
#I shift the column population at the third place, before the variables I will use for the analysis
third_column = result.pop('population')
result.insert(2, 'population', third_column)
result

,geo,country,population,age_1_child,employed_women_2018,abortion_ratio,social_benefit,mean_income,fertility_rate,lb_18y_procapite,lb_30y_procapite,lb_inmar_procapite,lb_outmar_procapite,lb_foreign_procapite
0,AT,Austria,8822267,29.5,0.686,20.9,993.78,27804.0,1.47,0.000034,0.000703,0.005695,0.004001,0.002901
1,BE,Belgium,11398589,29.0,0.607,154.4,717.46,25196.0,1.62,0.000039,0.000895,0.004946,0.005434,0.002561
2,BG,Bulgaria,7050034,26.2,0.630,376.8,113.35,4644.0,1.56,0.000222,0.000567,0.003664,0.005158,0.000056
3,CH,Switzerland,8484130,30.9,0.757,116.8,901.61,49607.0,1.52,0.000014,0.000784,0.007694,0.002661,0.004128
4,CY,Cyprus,864236,29.8,0.642,0.4,288.41,17582.0,1.32,0.000051,0.000860,0.008767,0.002027,0.003356
5,CZ,Czech Republic,10610055,28.4,0.676,160.5,295.16,10098.0,1.71,0.000066,0.000837,0.005532,0.005216,0.000685
6,DE,Germany,82792351,29.7,0.711,128.2,1199.25,25882.0,1.57,0.000048,0.000728,0.006288,0.003224,0.002237
7,DK,Denmark,5781190,29.5,0.713,231.0,1647.17,33759.0,1.73,0.000021,0.000858,0.004868,0.005766,0.001705
8,EE,Estonia,1319133,27.7,0.725,264.5,357.58,11746.0,1.67,0.000057,0.000857,0.004974,0.005891,0.001023
9,EL,Greece,10741165,30.4,0.446,234.7,287.17,9034.0,1.35,0.000053,0.000511,0.007152,0.000896,0.001146
10,ES,Spain,46658447,31.0,0.569,258.7,301.10,16937.0,1.26,0.000044,0.000441,0.004190,0.003757,0.001623
11,FI,Finland,5513130,29.2,0.697,180.7,1096.41,27389.0,1.41,0.000030,0.000629,0.004780,0.003850,0.000845
12,FR,France,67026224,28.7,0.633,300.0,782.22,25379.0,1.87,0.000062,0.000849,0.004489,0.006838,0.002043
13,HR,Croatia,4105493,28.8,0.559,69.2,232.63,7371.0,1.47,0.000060,0.000668,0.007136,0.001863,0.000099
14,HU,Hungary,9778371,28.2,0.666,288.2,254.93,6123.0,1.55,0.000155,0.000616,0.005362,0.004196,0.000137
15,IE,Ireland,4830392,30.5,0.630,47.7,879.18,28630.0,1.75,0.000052,0.000677,0.007850,0.004783,0.002874
16,IS,Iceland,348450,28.3,0.825,248.1,922.55,43769.0,1.71,0.000046,0.000893,0.003584,0.008549,0.001877
17,IT,Italy,60483973,31.2,0.495,172.9,304.47,19208.0,1.29,0.000025,0.000473,0.004802,0.002469,0.001465
18,LT,Lithuania,2808901,27.8,0.716,127.5,219.13,8415.0,1.63,0.000084,0.000804,0.007375,0.002642,0.000269
19,LU,Luxembourg,602005,30.9,0.634,95.3,2823.35,40075.0,1.38,0.000035,0.000771,0.006262,0.004113,0.006387
20,LV,Latvia,1934379,27.2,0.700,188.3,203.43,8738.0,1.60,0.000070,0.000729,0.006045,0.003940,0.000565
21,MK,Macedonia,2075301,26.9,0.417,184.3,30.91,2842.0,1.42,0.000108,0.000703,0.009033,0.001247,0.000374
22,MT,Malta,475701,29.2,0.615,11.9,197.25,16749.0,1.23,0.000105,0.000744,0.006489,0.002148,0.002203
23,NL,Netherlands,17181084,30.0,0.746,184.0,466.96,26848.0,1.59,0.000021,0.000826,0.004721,0.005088,0.001215
24,NO,Norway,5295619,29.5,0.726,224.8,2113.16,42203.0,1.56,0.000020,0.000864,0.004535,0.005873,0.002303
25,PL,Poland,37976687,27.4,0.603,2.8,311.85,7337.0,1.46,0.000071,0.000766,0.007520,0.002701,0.000135
26,PT,Portugal,10291027,29.8,0.663,171.5,217.12,11063.0,1.42,0.000052,0.000530,0.003731,0.004725,0.000912
27,RO,Romania,19533481,26.7,0.504,258.0,138.12,3825.0,1.76,0.000252,0.000715,0.007170,0.003209,0.000127
28,RS,Serbia,7001444,28.1,0.503,156.0,63.86,3040.0,1.49,0.000096,0.000634,0.006691,0.002447,0.000088
29,SE,Sweden,10120242,29.3,0.752,308.9,1267.10,27703.0,1.76,0.000030,0.000894,0.005203,0.006242,0.001997
30,SI,Slovenia,2066880,28.8,0.671,177.4,371.89,14127.0,1.60,0.000022,0.000825,0.004012,0.005463,0.001010
31,SK,Slovakia,5443120,27.1,0.655,156.8,224.52,7870.0,1.54,0.000181,0.000753,0.006354,0.004235,0.000127
32,TR,Turkey,80810525,26.3,0.329,33.1,54.12,4914.0,1.99,0.000231,0.000902,0.014856,0.000442,0.000253
33,UK,United Kingdom,66273576,29.0,0.742,299.0,777.35,25642.0,1.68,0.000093,0.000744,0.005900,0.005488,0.002047

In [11]:
compression_opts = dict(method='zip',
                        archive_name='final_df_procapite.csv')  
result.to_csv('final_df_procapite.zip', index=False, compression=compression_opts)